<footer class="footer">
  <div class="footer-nav">
    <div class="footer-columns">
      <div class="footer-column">
        <div class="footer-logo">{% include 'assets/pndlnk-logo.html' %}</div>
        <p class="footer-logo-caption">Опыто-конструкторское бюро</p>
      </div>
      <div class="footer-column">
        <div class="footer-nav-item"><a href="/">Глоссарий</a></div>
        <div class="footer-nav-item"><a href="/projects/">Проекты</a></div>
        <div class="footer-nav-item"><a href="/about/">О компании</a></div>
        <div class="footer-nav-item">
          <a href="https://blog.buro.cx/">Блог</a>
        </div>
      </div>

      <div class="footer-column">
        <div class="footer-group">
          <div class="footer-nav-item">ДКЦП</div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}<a href="/dkcp/">Лекция</a>
          </div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}<a href="/dkcp-base/"
              >База</a
            >
          </div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}<a href="/dkcp-checkup/"
              >Чекап</a
            >
          </div>
        </div>
        <div class="footer-group">
          <div class="footer-nav-item">
            <a href="/cxstrategy/">Стратегическая логика</a>
          </div>
        </div>
        <div class="footer-group">
          <div class="footer-nav-item">Культура создания ценности</div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}<a href="/ksc/"
              >Большой курс</a
            >
          </div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}<a href="/ksc-open/"
              >Открытый интенсив</a
            >
          </div>
        </div>
      </div>
      <div class="footer-column"></div>
      <div class="footer-column">
        <div class="footer-group">
          <div class="footer-nav-item">Подписаться</div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}
            <a href="https://https://t.me/cxlogic"
              ><strong>t.me/cxlogic</strong></a
            >
          </div>
        </div>
        <div class="footer-group">
          <div class="footer-nav-item">Написать</div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}
            <a href="https://t.me/okb_ponedelnik">t.me/okb_ponedelnik</a>
          </div>
          <div class="footer-nav-item">
            {% include 'assets/corner-arrow.html' %}
            <a href="mailto:okb@ponedelnik.ru">okb@ponedelnik.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-footer">
    <div class="footer-columns">
      <div class="footer-column">
        <p>2015–2025</p>
      </div>
      <div class="footer-column">
        <p>Екатеринбург, ул. Чернышевского 7, БЦ «Дубровин», офис 429</p>
        <p>ООО «УМП» ИНН: 7453068666 ОГРН: 1027403885365</p>
        <p><a href="https://pndlnk.notion.site/">Реквизиты</a></p>
      </div>
    </div>
  </div>
</footer>
