<footer class="footer">
  <div class="footer-hero-logo">{% include 'assets/pndlnk-logo.html' %}</div>
  <div class="footer-grid">
    <div class="footer-column">
      <div class="footer-nav-item">
        <button
          class="lets-talk-button contact-form-trigger"
          data-cf-title="Обсудить проект"
          data-cf-submit="Отправить">
          Обсудить проект
        </button>
      </div>
      <!-- <div class="footer-nav-item">Написать</div>

      <div class="footer-nav-item">
        {% include 'assets/corner-arrow.html' %}
        <a href="mailto:okb@ponedelnik.ru">okb@ponedelnik.ru</a>
      </div> -->
    </div>
    <div class="footer-column">
      <div class="footer-nav-item"><a href="/">Главная</a></div>
      <div class="footer-nav-item"><a href="/products/">Продукты</a></div>
      <div class="footer-nav-item"><a href="/projects/">Проекты</a></div>
      <div class="footer-nav-item">
        <a href="/company-details">Реквизиты</a>
      </div>
    </div>

    <div class="footer-column">
      <div class="footer-group">
        <div class="footer-nav-item">
          <a href="https://blog.buro.cx/">Блог ↗</a>
        </div>
        <div class="footer-nav-item"><a href="/dkcp/">Методология</a></div>
        <div class="footer-nav-item"><a href="/glossary/">Глоссарий</a></div>
      </div>
    </div>

    <div class="footer-column">
      <div class="footer-group">
        <div class="footer-nav-item">Подписаться</div>
        <div class="footer-nav-item">
          {% include 'assets/corner-arrow.html' %}
          <a href="/subscribe">Дайджест</a>
        </div>
        <div class="footer-nav-item">
          {% include 'assets/corner-arrow.html' %}
          <a href="https://t.me/cxlogic">Канал</a>
        </div>
      </div>
    </div>

    <div class="footer-column footer-year">
      <p>2015–2026</p>
    </div>
    <div class="footer-column footer-address">
      <p>
        Сделано с <a href="https://www.intuition.team/">Интуицией</a> в 2025
        году
      </p>
    </div>
  </div>
</footer>
