{% set nav = [{ title: 'ДКЦП', href: '/dkcp/' }, { title: 'База', href:
'/dkcp-base/' }, { title: 'Чекап ↗', href: 'https://ponedelnik.ru/checkup' }, {
title: 'Логика ↗', href: 'https://www.cxstrategy.ru/' }, { title: 'КСЦ', href:
'/ksc-full/' }, { title: 'Блог ↗', href: 'https://blog.buro.cx/' } ] %}

<!--   { title: 'Мы', href: '/about/' }, { title: 'Среда', href: '/sreda' } -->

<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/"> {% include 'assets/pndlnk-logo.html' %} </a>
    </div>
    {% for link in nav %} {% if link.href == page.url and link.title != 'КСЦ' %}
    <span>{{ link.title }}</span>
    {% else %}
    <a href="{{ link.href }}">{{ link.title }}</a>
    {% endif %} {% endfor %}
    <div class="nav-spacer"></div>
    <button
      class="lets-talk-button compact contact-form-trigger"
      data-cf-title="Обсудить проект"
      data-cf-submit="Отправить">
      Обсудить проект
    </button>
  </nav>

  <!-- <nav class="nav">
    <a href="'/introduction/">Познакомиться</a>
  </nav> -->
</header>
