{% set nav = [{ title: 'ДКЦП', href: '/dkcp/' }, { title: 'База', href:
'/dkcp-base/' }, { title: 'Чекап ↗', href: 'https://ponedelnik.ru/checkup' }, {
title: 'Логика ↗', href: 'https://www.cxstrategy.ru/' }, { title: 'КСЦ ↗', href:
'https://ponedelnik.ru/ksc' }, { title: 'КСЦ:ОИ', href: '/ksc-open/' }, { title:
'Блог ↗', href: 'https://blog.buro.cx/' } ] %}

<!--   { title: 'Мы', href: '/about/' }, { title: 'Среда', href: '/sreda' } -->

<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/"> {% include 'pndlnk.html' %} </a>
    </div>
    {% for link in nav %} {% if link.href == page.url %}
    <span>{{ link.title }}</span>
    {% else %}
    <a href="{{ link.href }}">{{ link.title }}</a>
    {% endif %} {% endfor %}
  </nav>

  <!-- <nav class="nav">
    <a href="'/introduction/">Познакомиться</a>
  </nav> -->
</header>
