{% macro caseInitiativeMeta(parentUrl, parentTitle, initiativeTitle, titleClass) %}
<div class="ids__space XL"></div>
<div class="case-page__header">
<a href="{{ parentUrl }}">← {{ parentTitle }}</a>
</div>
<div class="ids__space XS"></div>
<h1{% if titleClass %} class="{{ titleClass }}"{% endif %}>{{ initiativeTitle }}</h1>
{% endmacro %}
