.footer {
  padding: 0.5em 1em;
  margin-top: 7em;
  font-family: var(--mono);
  background-color: rgba(var(--ids__surface-RGB), 0.4);

  @media (width < 768px) {
    flex-wrap: wrap;
    padding: 0.5em calc(var(--ids__density) * 0.4em);
  }

  & .footer-hero-logo {
    width: 100%;
    padding-top: 0.3em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    opacity: 0.1;

    & svg {
      width: 100%;
      height: auto;
      display: block;

      & .cls-1 {
        fill: rgba(var(--ids__text-RGB), 1);
      }
    }
  }

  & .footer-grid {
    font-size: var(--smaller);
    display: grid;
    grid-template-columns: 16em auto auto auto;
    gap: 3em 3em;
    padding-right: 10em;
    padding-bottom: 2em;

    @media (width < 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 2em 0.5em;
      padding-right: 0;
    }

    & .footer-column:first-child {
      display: flex;
      align-items: flex-start;
    }
  }

  & .footer-nav-item {
    margin-bottom: 0.5em;
  }

  & .footer-group {
    margin-bottom: 1.2em;

    @media (width < 768px) {
      margin-bottom: 1.5em;
    }
  }

  & .footer-year {
    & p {
      font-size: var(--smaller);
      opacity: 0.7;
    }
  }

  & .footer-address {
    grid-column: 2 / -1;

    @media (width < 768px) {
      grid-column: 1 / -1;
    }

    & p {
      font-size: var(--smaller);
      opacity: 0.7;
    }
  }

  & .corner-arrow {
    display: inline-block;
    width: 0.75em;

    & svg {
      .cls-1 {
        fill: rgba(var(--ids__text-RGB), 1);
        stroke-width: 0px;
      }
    }
  }
}
