.dkcp-splash-container {
  position: absolute;
  right: -14em;
  top: -10em;
  width: 85%;
  aspect-ratio: 1/1;
  pointer-events: none;

  overflow: hidden;

  @media (width < 768px) {
    position: relative;
    margin: -5em 0 -3em 0;
    width: 100%;
    top: 0;
    right: 0;
  }

  & .illustration-container {
    position: absolute;
    top: 0;
    left: 3em;
    width: 100%;
    height: 100%;

    @media (width < 768px) {
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
    }

    &.illustration-container-back {
      z-index: -1; /* под заголовком */
    }

    &.illustration-container-front {
      z-index: 1; /* над заголовком */
    }
  }
}

.dkcp-author-card {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
  max-width: 45em;
}

.dkcp-author-portrait img {
  width: 6.25em;
  height: 6.25em;
  object-fit: cover;
}

.dkcp-author-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dkcp-author-description {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

.dkcp-author-quote {
  margin: 0;
  font-size: 0.9375em;
  line-height: 1.5;
}

.event img {
  display: block;
  margin-bottom: 0.875em;
}

.divider {
  border-bottom: 0.125em solid #e5e5e5;
  margin: 1.875em 0;
}

.methodology-section {
  --methodology-gap: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: var(--methodology-gap);
  margin-bottom: calc(var(--methodology-gap) * 1.5);

  /* Моноширинный шрифт для всех aside */
  aside {
    font-family: var(--mono);
  }

  &:not(.methodology-section--center) .methodology-column {
    width: calc((100% - 3 * var(--methodology-gap)) / 4);
  }

  &.methodology-section--center {
    .methodology-column-side {
      width: calc((100% - 3 * var(--methodology-gap)) / 4);
    }

    .methodology-column-center {
      width: calc((100% - var(--methodology-gap)) / 2);

      /* Обёртка для картинки с паддингами */
      .methodology-image-wrapper {
        padding: 4em;

        @media (width < 768px) {
          padding: 2em;
        }
      }

      /* Обёртка для "Нарративное конструирование" - выравнивание по центру */
      .methodology-item-wrapper {
        display: flex;
        justify-content: center;

        aside {
          width: calc((100% - 2 * var(--methodology-gap)) / 4);
        }
      }
    }
  }

  @media (width < 768px) {
    &:not(.methodology-section--center) {
      .methodology-column {
        width: calc((100% - var(--methodology-gap)) / 2);
      }
    }

    &.methodology-section--center {
      flex-direction: column;

      .methodology-column-center {
        width: 100%;

        .methodology-item-wrapper aside {
          width: calc((100% - var(--methodology-gap)) / 2);
        }
      }

      .methodology-column-side {
        display: flex;
        flex-wrap: wrap;
        gap: var(--methodology-gap);
        width: 100%;

        aside {
          width: calc((100% - var(--methodology-gap)) / 2);
        }
      }
    }
  }
}
