.intro {
  & span {
    display: inline;
    animation: wordfocus infinite ease-in;
  }
}

.intro span:nth-child(1) {
  animation-duration: 7.2s;
  animation-delay: 0.1s;
}

.intro span:nth-child(2) {
  animation-duration: 7.2s;
  animation-delay: 0.1s;
}

.intro span:nth-child(3) {
  animation-duration: 8.1s;
  animation-delay: 0.7s;
}

.intro span:nth-child(4) {
  animation-duration: 6.8s;
  animation-delay: 1.2s;
}

.intro span:nth-child(5) {
  animation-duration: 7.7s;
  animation-delay: 0.3s;
}

.intro span:nth-child(6) {
  animation-duration: 8s;
  animation-delay: 1.8s;
}

.intro span:nth-child(7) {
  animation-duration: 9.3s;
  animation-delay: 0.9s;
}

.intro span:nth-child(8) {
  animation-duration: 7.6s;
  animation-delay: 2.1s;
}

.intro span:nth-child(9) {
  animation-duration: 8.5s;
  animation-delay: 0.4s;
}

.intro span:nth-child(10) {
  animation-duration: 9.9s;
  animation-delay: 1.5s;
}

.intro span:nth-child(11) {
  animation-duration: 7.9s;
  animation-delay: 0.8s;
}

.intro span:nth-child(12) {
  animation-duration: 8.3s;
  animation-delay: 2.3s;
}

.intro span:nth-child(13) {
  animation-duration: 9s;
  animation-delay: 0.6s;
}

.intro span:nth-child(14) {
  animation-duration: 7.7s;
  animation-delay: 1.7s;
}

.intro span:nth-child(15) {
  animation-duration: 8.6s;
  animation-delay: 0.2s;
}

.intro span:nth-child(16) {
  animation-duration: 7.6s;
  animation-delay: 0.2s;
}

.intro span:nth-child(17) {
  animation-duration: 9.6s;
  animation-delay: 0.2s;
}

@keyframes wordfocus {
  0%,
  100% {
    filter: blur(0px);
    transform: scale(1);
  }

  50% {
    filter: blur(0.1em);
    opacity: 0.7;
  }
}

.author {
  margin-bottom: 1em;

  & .author-portrait {
    position: relative;
    margin-bottom: 0.3em;

    & .author-name {
      font-size: 1.05em;
      font-weight: 550;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0.1em 0.3em 0.1em 0em;

      background-color: rgba(var(--ids__text-RGB), 1);
      color: rgba(var(--ids__inverted-text-RGB), 1);
    }
  }

  & p {
    padding-right: 1em;

    &.author-description {
      font-size: var(--smaller);
    }
  }
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: calc(var(--ids__density) * 0.3em) 0;

  @media (width < 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto) calc(var(--ids__density) * 2.4em) repeat(
        8,
        auto
      );
  }
}

.pricing-grid-item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;

  & h4 {
    margin: 0;
    padding: 0em 1em 0em calc(var(--ids__density) * 0.5em);
  }

  & .pricing-feature {
    margin: 0;
    border-top: 1px solid rgba(var(--ids__text-RGB), 0.2);
    padding: 0.3em 1em 0em calc(var(--ids__density) * 0.5em);

    &:empty {
      visibility: hidden;
    }
  }

  & p {
    margin: 0;

    &.caption {
      opacity: 0.5;
      margin: 0.5em 0 1em;
    }
  }

  & .promo-link {
    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 0;

    @media (width < 768px) {
      font-size: 0.9em;
      padding: 0.7em 1em;
    }
  }

  @media (width < 768px) {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 8;
    }

    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / 8;
    }

    &:nth-child(3) {
      grid-column: 1 / -1;
      grid-row: 9 / -1;
      grid-template-rows: repeat(7, auto);
      gap: 0;
      padding-top: calc(var(--ids__density) * 1em);
      padding-bottom: 0;
    }
  }
}

.ids {
  & aside {
    &.pricing-section {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.pricing-grid-wrapper {
  background-color: rgb(var(--ids__surface-RGB));
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.promo-link.second {
  background-color: rgb(245, 90, 90);

  &:hover {
    background-color: rgb(var(--ids__hover-RGB));
  }
}

.promo-link.third {
  background-color: rgb(var(--ids__link-RGB));

  &:hover {
    background-color: rgb(var(--ids__hover-RGB));
  }
}

.intuition-collab {
  display: inline-block;
  padding: 0.5em 1em;
  font-family: var(--mono);
  font-size: 0.6em;
  border: 1px dashed rgba(var(--ids__text-RGB), 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.title-grid {
  --title-grid-cell-size: 5.5em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;

  @media (width < 768px) {
    --title-grid-cell-size: 4.2em;

    /* Принудительный перенос строки после 5-го элемента через псевдоэлемент */
    &::after {
      content: "";
      width: 100%;
      order: 6;
      height: 0;
      flex-basis: 100%;
    }
  }

  & .title-grid-cell {
    height: var(--title-grid-cell-size);
    border: 1px solid rgba(var(--ids__text-RGB), 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0.1em;

    &:not(.title-grid-cell-empty) {
      width: var(--title-grid-cell-size);
    }

    &.title-grid-cell-empty {
      width: calc(var(--title-grid-cell-size) / 2);
    }

    & span {
      font-family: var(--mono);
      font-weight: 500;
      font-size: 3.5em;
      padding-left: 0.1em;
      line-height: 1;

      @media (width < 768px) {
        font-size: 2.8em;
      }
    }

    /* Desktop: убрать border-left у всех, затем установить первому контейнеру */
    /* h1 - nth-child(1), поэтому первый title-grid-cell - nth-child(2) */
    border-left: none;

    &:nth-child(2) {
      border-left: 1px solid rgba(var(--ids__text-RGB), 0.5);
    }

    @media (width < 768px) {
      border-left: none;

      /* Правильный порядок для мобилы: Б А З А [пустой] [пустой-последний] Д К Ц П */
      /* h1 - nth-child(1), поэтому title-grid-cell начинаются с nth-child(2) */
      &:nth-child(2) {
        order: 1;
        border-left: 1px solid rgba(var(--ids__text-RGB), 0.5);
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 5;
      }

      &:nth-child(7) {
        order: 8;
        border-top: none;
      }

      &:nth-child(8) {
        order: 9;
        border-top: none;
      }

      &:nth-child(9) {
        order: 10;
        border-top: none;
      }

      &:nth-child(10) {
        order: 11;
        border-top: none;
      }

      /* Второй пустой контейнер перескакивает в начало второй строки */
      &.title-grid-cell-empty-last {
        order: 7;
        border-left: 1px solid rgba(var(--ids__text-RGB), 0.5);
        border-top: none;
      }
    }
  }
}

.logo-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin: 1em 0;
}

.logo-wall-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1em;
  background-color: rgba(var(--ids__text-RGB), 0.05);
  border-radius: 999px;
  
  & img {
    height: 1.2em;
    width: auto;
    object-fit: contain;
    display: block;
  }
}
