.desktop-only {
  @media (width < 768px) {
    display: none;
  }
}

.mobile-only {
  @media (width > 767px) {
    display: none;
  }
}

.ids__space {
  height: calc(var(--ids__density) * 0.7em);

  &.XS {
    height: calc(var(--ids__density) * 0.3em);
  }

  &.S {
    height: calc(var(--ids__density) * 0.7em);
  }

  &.S {
    height: calc(var(--ids__density) * 0.7em);
  }

  &.M {
    height: calc(var(--ids__density) * 1.4em);
  }

  &.L {
    height: calc(var(--ids__density) * 2.4em);
  }

  &.XL {
    height: calc(var(--ids__density) * 4em);
  }

  &.top-screen-space {
    &.M {
      height: 4vh;
    }

    &.L {
      height: 12vh;
    }
  }
}

.ids__wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto 0 8%;
  max-width: 1020px;

  @media (width < 768px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--ids__density) * 0.4em);
  }

  &.centered {
    margin: 0 auto;
  }

  &.L {
    width: 84%;
    margin: 0 8%;
    max-width: 1260px;

    @media (width < 768px) {
      width: 100%;
      margin: 0 auto;
      padding: 0 calc(var(--ids__density) * 0.4em);
    }
  }

  &.XL {
    width: 100%;
    margin: 0 auto;
    /* padding: 0 calc(var(--ids__density) * 0.75em); */

    @media (width < 768px) {
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }

  &.XXL {
    width: 100%;

    @media (width < 768px) {
      padding: 0;
    }
  }

  & .ids__text-width {
    width: 80%;
    max-width: 816px;

    @media (width < 768px) {
      width: 100%;
    }

    & .with-sidenote {
      position: relative;

      & .sidenote {
        font-size: 0.7em;
        width: 90%;
        margin-bottom: 2em;

        @media (width > 767px) {
          position: absolute;
          top: 0;
          width: 45%;
          left: 110%;

          font-size: 0.7em;
        }
      }
    }
  }
}

.ids__sequence {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--ids__density) * 0.4em);
  --gap: 0em;
  gap: var(--gap);

  &.gap-L {
    --gap: 1.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-M {
    --gap: 1em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-S {
    --gap: 0.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  .ids__sequence-item {
    --columns: 4;
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));

    @media (width < 768px) {
      --columns: 2;
    }
  }

  &.XL {
    .ids__sequence-item {
      --columns: 2;

      @media (width < 768px) {
        --columns: 2;
      }
    }
  }

  &.L {
    .ids__sequence-item {
      --columns: 3;

      @media (width < 768px) {
        --columns: 2;
      }
    }
  }

  &.S {
    .ids__sequence-item {
      --columns: 6;

      @media (width < 768px) {
        --columns: 3;
      }
    }
  }

  &.mobile-XL {
    .ids__sequence-item {
      @media (width < 768px) {
        --columns: 1;
      }
    }
  }
}
