{% set proj = projects | projectBySlug(page.fileSlug) %}
{% if proj and (proj.typeTags.length or proj.industryTags.length or proj.year) %}
<ul class="case-page__tags" aria-label="Теги кейса">
  {% for tag in proj.typeTags %}
  <li><span class="case-page__tag">{{ tag }}</span></li>
  {% endfor %}
  {% for tag in proj.industryTags %}
  <li><span class="case-page__tag case-page__tag--industry">{{ tag }}</span></li>
  {% endfor %}
  {% if proj.year %}
  <li><span class="case-page__tag case-page__tag--year">{{ proj.year }}</span></li>
  {% endif %}
</ul>
{% endif %}
