{% extends 'layout.html' %} {% set pageTitle = 'Company details — Понедельник'
%} {% set pageDesc = 'Юридическая информация для партнёров ОКБ «Понедельник»' %}
{% block content %}

<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1 class="S">Юридическая информация для партнёров</h1>
  </div>

  <div class="ids__space XS"></div>

  <div class="promo-table-container">
    <table class="promo-table copy-table">
      <tbody>
        <tr>
          <td>Полное наименование</td>
          <td>
            Общество с ограниченной ответственностью «Универсальные
            Маркетинговые Проекты»
          </td>
        </tr>
        <tr>
          <td>Краткое наименование</td>
          <td>ООО «УМП»</td>
        </tr>
        <tr>
          <td>Юридический адрес</td>
          <td>
            454091, Челябинская область, г. Челябинск, ул. Монакова, д. 33,
            оф. 3
          </td>
        </tr>
        <tr>
          <td>ИНН</td>
          <td>7453068666</td>
        </tr>
        <tr>
          <td>КПП</td>
          <td>745101001</td>
        </tr>
        <tr>
          <td>ОГРН</td>
          <td>1027403885365</td>
        </tr>
        <tr>
          <td>Подписант</td>
          <td>
            Генеральный директор Руденко Михаил Алексеевич на основании Устава
          </td>
        </tr>
        <tr>
          <td>Почта</td>
          <td><a href="mailto:okb@ponedelnik.ru">okb@ponedelnik.ru</a></td>
        </tr>
        <tr>
          <td>Сайт</td>
          <td><a href="https://ponedelnik.ru/">https://ponedelnik.ru</a></td>
        </tr>
        <tr>
          <td>Документы для проверок СБ</td>
          <td>
            <a
              href="https://drive.google.com/drive/folders/1gHNXVQgClyIN-z77Y71MJ0-x-ozeWbhM"
              >ООО УМП ↗</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {% include 'components/copy-table-setup.html' %}
</div>

<div class="ids__space XL"></div>

{% endblock %}
