---
# скрыта от поисковиков: дублирует внешний сайт курса cxstrategy.ru
noindex: true
---
{% extends 'layout.html' %} {% set pageTitle = 'Логика' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1>CX: Стратегическая логика 2.0</h1>
    
    <p>Для тех, кто так не хочет, мы придумали «стратегическую логику». Это шестимесячный курс, который избавит вас от метода «проб и ошибок» (в основном ошибок, конечно), и переведёт создание ценности в управляемую плоскость. Да, то, что раньше считалось магией, везением, интуицией или чуйкой, оказывается можно формализовать.</p>
    
    <p>Клиент — единственный источник денег в компанию. И знаете как в компаниях обычно устроено создание ценности для него? Как готовка пирога с завязанными глазами — чуть-чуть этого, наощупь того, попробовать, плюнуть, начать заново. Иногда получается съедобно. Чаще — выбросить.</p>
  </div>
</div>

{% endblock %}
