{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% import
'dkcp-component.html' as dkcp %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper L">
  {% set values = ['Взаимопонимание', 'Единство'] %} {% set segment = [ '1.
  Лидеры департаментов, создающих ценность: CEO, CPO, CMO', '2. Сотрудники
  департаментов, участвующих в создании ценности: продакт-менеджеры, дизайнеры,
  аналитики, маркетологи, дэвелоперы, редакторы и лидеры (CPO, CEO, CMO)' ] %}
  {% set conflict = [ 'Лидер: Хочет интегрировать команды в сквозной процесс
  создания продукта, но держит их изолированными, чтобы не терять время на
  согласовании между разработчиками, маркетологами и продажниками.', 'Команды: С
  одной стороны, хотят говорить с клиентом о его проблемах, чтобы тот чувствовал
  себя уверенным при покупке. С другой стороны, опасается рассказывать не о
  продукте, потому что только так они чувствуют себя уверенно' ] %} {% set
  artifact = ['Открытый интенсив "Культура Создания Ценности"'] %} {% set
  artifactAttrs = [ 'Построен на методологии ДКЦП', 'Содержит упражнение по
  проведению интервью с целевой аудиторией участников', 'Командный формат',
  'Включает упражнение "расселение по дворцу"', 'ДКЦП-шаблон матрицы
  корпоративных контрактов', 'Критерии сходимости ДКЦП', '5 личных встреч с
  кураторами инетнсива' ] %} {% set arguments = [ '1. Освоите специальный
  универсальный язык ценностных предложений, который позволит чувствовать себя
  уверенно при общении с клиентами на исследованиях и продажах', '2. На
  интенсиве вы найдете и поговорите с вашими клиентами, чтобы выяснить их
  реальные проблемы и потребности.', '3. Освоите всей командой "общий язык"
  создания ценности', '4. Распределите ответственность и проясните зоны
  ответственности разных подразделений при создании ценности при поддержке
  кураторов' ] %} {% set priceConditions = [ '85 000 руб. с учачстника',
  'Организовать команду на 6 онлайн-занятий, освободить время на это' ] %} {%
  set exchangeConditions = [ 'Минимум 3, максимум 5 человек в команде', 'Вернём
  деньги, если результат не устроит' ] %} {% set companyAttrs = [ 'Миша
  Руденко','Женя Арутюнов','Авторская методология ДКЦП','Кейсы с известными
  компаниями' ] %} {% set draft = false %} {{ dkcp.dkcp( values=values,
  segment=segment, conflict=conflict, artifact=artifact,
  artifactAttrs=artifactAttrs, arguments=arguments,
  priceConditions=priceConditions, exchangeConditions=exchangeConditions,
  companyAttrs=companyAttrs, draft=draft ) }}
</div>

{% endblock %}
