{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП' %} {% block content
%}
<div class="ids__space top-screen-space M"></div>

<div class="article">
  <div class="ids__wrapper L">
    <div class="article-title dark-theme">
      <div class="title-grid">
        <h1 class="visually-hidden">База ДКЦП</h1>
        <div class="title-grid-cell"><span>Б</span></div>
        <div class="title-grid-cell"><span>А</span></div>
        <div class="title-grid-cell"><span>З</span></div>
        <div class="title-grid-cell"><span>А</span></div>
        <div class="title-grid-cell title-grid-cell-empty"></div>
        <div class="title-grid-cell"><span>Д</span></div>
        <div class="title-grid-cell"><span>К</span></div>
        <div class="title-grid-cell"><span>Ц</span></div>
        <div class="title-grid-cell"><span>П</span></div>
        <div
          class="title-grid-cell title-grid-cell-empty title-grid-cell-empty-last"></div>
      </div>

      <p class="loud mono">
        Как быть с клиентами, которые сами не знают,
        <em>кто и почему должен покупать их продукты</em>. Онлайн-курс для
        творческих и маркетинговых специалистов.
      </p>
      <div class="ids__space XS"></div>
      <p class="intuition-collab">
        Совместно с
        <a href="https://intuition.team/ru" target="_blank">Интуицией</a>
      </p>
      <div class="ids__space XS"></div>
      <p class="mobile-only"><em>5 лекций в записи</em></p>
      <div class="ids__space L"></div>
      <div id="bad" style="position: absolute; bottom: -1.5em"></div>
    </div>
  </div>
  <div class="ids__wrapper L sticky">
    <div class="article-title-nav dark-theme">
      <div class="title-nav-item accent">
        <a href="#pricing" class="promo-link">Купить</a>
      </div>

      <div class="title-nav-item desktop-only">
        <em>5 лекций в записи</em>
      </div>
      <div class="title-nav-item desktop-only">
        <a href="#bad">Проблема</a>
      </div>
      <div class="title-nav-item desktop-only">
        <a href="#good">Решение</a>
      </div>
      <div class="title-nav-item">
        <a href="#course">Программа курса</a>
      </div>
      <div class="title-nav-item">
        <a href="#authors">Авторы</a>
      </div>
      <div class="title-nav-item">
        <a href="#pricing">Тарифы</a>
      </div>
    </div>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <p class="loud">
      В дизайне, редактуре и маркетинге часто повторяется ситуация: начинаешь
      делать своё дело, задаёшь заказчику вопросы про клиента, рынок,
      преимущства, но быстро понимаешь — у него нет хороших ответов. Нет
      ясности, кому он продаёт, почему они это покупают, что важно для продаж, а
      что появилось случайно.
    </p>
    <div class="ids__text-width">
      <p>И тут есть два пути.</p>
      <p>
        <em>Можно забить и просто работать</em>. Ведь понимание смысла бизнеса —
        это ответственность заказчика? Проблема в том, что  без ясности и хороших ответов фактуру
        придётся высасывать из пальца, эстетика сведётся к вкусовщине, а потом
        начнутся вопросы без ответов: где продажи, где лиды, почему «маркетинг не
        работает»? И все будут недовольны.
        <!--тут картинка "сначала продакшен, потом пиздец"]-->
      </p>
      <p>
        Можно подойти ответственно
        <em>и самостоятельно заняться поиском ответов</em>. Это непросто,
        требует уверенности и аргументированной позиции. Это может хорошо
        отразиться на результате, но придётся в те же сроки и за те же деньги
        параллельно делать дополнительную работу: стратегическую,
        исследовательскую и продуктовую. Так можно и разориться, а заказчик будет недоумевать, что ж так долго всё.
        <!--тут картинка "продакшен и пиздец вместе"-->
      </p>
      <p>В обоих случаях легко оказаться в минусе — эмоционально, финансово, или всё сразу.</p>
    </div>
  </div>
  
      


  
  <div id="good" class="ids__space L"></div>
  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h2>А что предлагаем мы</h2>
      <p>
        Выбирать второй путь, конечно же! Но с новым знанием и методологией, которая поможет: 
      </p>
      <ul>
        <li>находить проблемы в продуктах очень рано, и не отдельные, а сразу все;</li>
        <li>аргументированно обсуждать их с заказчиками — так, чтобы оно понимали и включались в разговор;
      </li><li>
        и только после этого приступать к работе. 
      </li><p>И тогда, даже если на входе будет мутность и вылезут проблемы с продуктом, <mark>ситуация станет управляемой,</mark> вы <mark>действительно сможете помочь.</mark> Возможно, за отдельные деньги. 
        <!--тут картинка "сначала не_пиздец, потом продакшен"-->
      </p>
      <!-- <p>В этом случае вы сможете на старте понять:</p>
      <ul>
        <li>
          Вот это заказчик, у которого бизнес в порядке. Из него можно вытащить
          всю критичныю для работы информацию быстро и системно (и ему это даже
          понравится).
        </li>
        <li>
          Вот это заказчик, которому можно показать нестыковки и продать
          стратегию, исследования, себя как ответственного за более сложную и
          дорогую задачу.
        </li>
        <li>
          А вот это заказчик, которому лучше сразу отказать, потому что он не
          признаёт очевидные проблемы, и дальше будет принимать решения
          непрозрачно и требовать всякого волшебства (например, чтобы тексты на
          сайте исправили ему бизнес).
        </li>
      </ul> -->

      <p>Что для этого нужно?</p>
    
    </div>
  </div>

  <div class="ids__space S"></div>
  <div class="ids__wrapper">
    <h3>Для начала — ценностное предложение</h3>

    <div class="ids__text-width">
      <p>
        Обычно эта штука встречается в качестве строчки в бренд-платформе,
        которую просто все пролистывают. У нас другой взгляд: не короткая
        формулировка, а продуманные ответы на главные вопросы о бизнесе.
      </p>
    </div>


      <ul class="inline-block">
        <li>Что продаётся?</li>
        <li>Какие у этого свойства?</li>
        <li>Кто продаёт?</li>
        <li>Почему ему можно доверять?</li>
        <li>Кому он это продаёт?</li>
        <li>Какие это люди?</li>
        <li>Зачем или почему они это покупают?</li>
        <li>Сколько это стоит?</li>
        <li>Когда и как платить?</li>
        <li>Что ещё нужно сделать, кроме денег?</li>
        <li>Зачем это нужно «на самом деле», в чём истинный смысл?</li>
      </ul>
      <div class="ids__text-width">
      <p>
        Это чётко выверенный набор вопросов, они именно такие. Мы задаёмся ими,
        потому что ответы влияют на&nbsp;всё: на&nbsp;дизайн, тексты, каналы
        доставки, стратегию продаж и&nbsp;даже на стиль иконок.
      </p>
      <p>
        <em>Согласованную совокупность</em> ответов мы называем
        ценностным предложением. Ценностное предложение есть у всего, что
        продаётся — неважно, большим брендом или маленькой шаурмичной. Оно —
        фундамент и логическая основа для всех остальных знаний о бизнесе,
        продукте и бренде.
      </p>
      <p>
        В&nbsp;принципе, если вам уже сейчас полегчало и&nbsp;стало
        <em>всё понятно</em> —&nbsp;супер. С&nbsp;вас ноль рублей!
        А&nbsp;с&nbsp;теми, кто кое-что начал подозревать, мы продолжим.
      </p>
    </div>
  </div>
  <div class="ids__space M"></div>
  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h3>Плохая новость</h3>
      <p>
        В ответ на эти вопросы можно сказать любую ерунду. Можно сказать: «наши клиенты это все, кому нужен наш
        продукт». Можно сказать: «наш продукт решает проблему отсутствия нашего
        продукта». Удивительно, но люди годами живут с такими ответами в голове — до тех пор, пока не столкнутся с проблемами в продажах. И тогда они
        зовут маркетолога, чтобы он «поправил сайт».
      </p>

      <p>
        Можно ли как-то проверить ответы на булщитность? Узнать, достаточно ли
        этих ответов, корректны ли формулировки и не противоречат ли друг другу?
      </p>
      <div class="ids__space S"></div>
      <h3>Хорошая новость</h3>
      <p>
        Да, можно. В этом поможет методология ДКЦП и курс, который продаётся на
        этой странице.
      </p>
    </div>
  </div>

  <div class="ids__space L"></div>
  <div class="ids__wrapper">
    <h2>ДКЦП</h2>
    <div class="ids__text-width">
      <div class="with-sidenote">
        <p>
          Это значит «Дворец культуры ценностного предложения». Культура
          — значит максимально высокие стандарты того, какие ответы считать
          корректными и непротиворечивыми. А «дворец», потому что просто так
          захотелось.
        </p>
      </div>

      <p>
        Ценностное предложение, как мы уже знаем — это ответы на фундаментальные
        вопросы о бизнесе. А ДКЦП — это модель ценностного предложения, которая
        позволяет:
      </p>
      <ol>
        <li>Правильно задать эти вопросы.</li>
        <li>Понять, когда ответы негодные, и переспросить.</li>
        <li>Понять, когда ответы годные, но конфликтуют между собой.</li>
        <li>
          Если всё со всем в ладах, использовать модель для маркетинга, дизайна
          и продаж.
        </li>
      </ol>

      
      <p>
        Например, вот так выглядит заполненный ДКЦП для абстрактного сервиса подписки на
        готовую еду. 
      </p>

      {% set values = ['Экологичность'] %} {% set segment = ['Молодые родители в
      крупных городах'] %} {% set conflict = ['Хотят здоровую еду для детей, но
      нет времени готовить'] %} {% set artifact = ['Готовая органическая детская
      еда'] %} {% set artifactAttrs = ['Без консервантов', 'Местные продукты',
      'Возрастная маркировка'] %} {% set arguments = ['Здоровое питание для
      занятых родителей без компромиссов'] %} {% set priceConditions = ['500₽ за
      порцию', 'Скидка при подписке'] %} {% set exchangeConditions = ['Доставка
      в день заказа', 'Возврат в течение недели'] %} {% set companyAttrs = ['10
      лет на рынке', 'Сертификат качества'] %} {% set draft = true %} {% include
      'dkcp.html' %}

      <p>
        Это упрощённый пример. В реальной работе детализация выше: описания
        блоков объёмнее, используются подсказки про корректность и сходимость,
        шаблоны для конструирования аргументов. 
      
        ДКЦП уже используют в работе сотрудники многих компаний, например:
      </p>
      <div class="logo-wall">
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/ТОЧКА.svg" alt="Точка">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/СБЕР БАНК.svg" alt="Сбер">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/МТС.svg" alt="МТС">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/WHOOSH.svg" alt="Whoosh">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/ГАЗПРОМ.svg" alt="Газпромнефть">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/Maskoholic.svg" alt="Maskoholik">
        </div>
        <div class="logo-wall-item">
          <h3 style="margin: 0; font-family: var(--mono);">Glam.AI</h3>
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/MANGO OFFICE.svg" alt="Mango Office">
        </div>
        <div class="logo-wall-item">
          <img src="/assets/dkcp-base/logos/Poison Drop.svg" alt="Poison Drop">
        </div>
        
      </div>
      <div class="ids__space S"></div>

      <p>
        Заполнив такую модель вместе с клиентом вы получите
        <em>целостный взгляд</em> на его ценностное предложение и поймёте,
        насколько оно сходится: нет ли в нём логических противоречий и
        несостыковок, которые потом помешают вам сделать свою работу.
      </p>

      <p>Об этом — наш курс.</p>
    </div>
  </div>

  <div class="ids__wrapper">
    <div class="ids__space L"></div>
    <h2 id="course">Программа курса</h2>
    <div class="ids__text-width">
      <p>
        Курс состоит из пяти очень компактных, плотно смонтированных занятий,
        которые в сумме длятся
        <span class="course-duration-text">4 часа 55 минут</span> (это не точно,
        записали только три). В режиме «мой супермозг в отличной форме» их можно
        посмотреть за 3 часа.
      </p>
    </div>
  </div>
  <div class="ids__wrapper">{% include 'dkcp-base/lessons-gantt.html' %}</div>
  <div id="authors" class="ids__wrapper L">
    <div class="ids__space L"></div>
    <h2>Авторы</h2>

    <div class="ids__sequence XL mobile-XL">
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/1ED_7823.jpg" alt="Михаил Руденко" />
            <div class="author-name"></div>
          </div>
          <p>
            <strong>Михаил Руденко.</strong> Предприниматель, аналитик,
            методолог. Автор ДКЦП.
          </p>
          <p>
            Больше 15 лет делает проекты в сфере управления клиентским опытом.
            Основал
            <a href="https://ponedelnik.ru/" target="_blank">ОКБ Пондельник</a>.
            Помогает компаниям добиться любви своих клиентов, сотрудников и
            партнёров. Работает с крупнейшими российскими компаниями: Сбербанк,
            Пятёрочка, Магнит, Рольф, Leroy Merlin, ВкусВилл, Мегафон.
          </p>
        </div>
      </div>
      <div class="ids__sequence-item">
        <div class="author">
          <div class="author-portrait">
            <img src="/assets/ea.jpg" alt="Женя Арутюнов" />
            <div class="author-name"></div>
          </div>
          <p>
            <strong>Женя Арутюнов.</strong> Дизайнер, арт-директор, менеджер
            проектов и людей.
          </p>
          <p>
            Основатель
            <a href="https://intuition.team/ru" target="_blank">Интуиции</a>,
            автор книги
            <a href="https://intuition.team/ru/complex-designer" target="_blank"
              >«Сложный дизайнер»</a
            >. Практик ДКЦП. С 2003 года работает дизайнером, с 2010 —
            арт-директором и руководителем творческих команд. За это время
            создал книги, журналы, логотипы, фирменные стили, веб-сервисы,
            мобильные приложения, дизайн-системы. Придумывал названия,
            стратегии, концепции, информационные продукты и бренд-платформы.
            Выступает с лекциями про дизайн и организацию творческой работы.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="article">
  <div id="pricing"></div>
  <div class="ids__space L"></div>
  <div class="ids__wrapper L">
    <aside class="ids pricing-section">
      <h2>Тарифы</h2>
      <div class="ids__text-width">
        <p>
          Каждый тариф предоставляет вечный доступ к материалам. Это особенно
          удобно, если вы собираетесь купить курс и не проходить его. Оплатить можно картой. Если нужен счёт на юрлицо – выберите третий тариф.
        </p>
      </div>
      <div class="ids__space S"></div>
    </aside>

    <div class="pricing-grid-wrapper">
      <div class="pricing-grid">
        <div class="pricing-grid-item">
          <h4>Базовый</h4>
          <div class="pricing-feature">
            <p>5 лекций в записи</p>
            <p class="caption">Курс записывается</p>
          </div>
          <div class="pricing-feature">Доступ к ИИ-ассистенту</div>
          <div class="pricing-feature">
            Шаблоны проектных документов <nobr>в ДКЦП-подходе</nobr>
          </div>
          <div class="pricing-feature"></div>

          <a
            href="https://yookassa.ru/my/i/aWakOVdjf_4H/l"
            class="promo-link"
            target="_blank"
            >Заказать за 14&thinsp;900&thinsp;₽</a
          >
        </div>

        <div class="pricing-grid-item">
          <h4>С поддержкой</h4>
          <div class="pricing-feature">
            <p>5 лекций в записи</p>
            <p class="caption">Курс записывается</p>
          </div>
          <div class="pricing-feature">Доступ к ИИ-ассистемнту</div>
          <div class="pricing-feature">
            Шаблоны проектных окументов <nobr>в ДКЦП-подходе</nobr>
          </div>
          <div class="pricing-feature">
            Разбор клиентского брифа, задачи или вашего ценностного предложения
            от Жени или Миши на выбор.
          </div>

          <a
            href="https://yookassa.ru/my/i/aWajpzPLIJL_/l"
            class="promo-link second"
            target="_blank"
            >Заказать за 39&thinsp;900&thinsp;₽</a
          >
        </div>

        <div class="pricing-grid-item">
          <h4>В вашей компании</h4>
          <div class="pricing-feature">
            <p>5+ лекций вживую, онлайн или офлайн</p>
            <p class="caption">Цена зависит от формата и часла участников</p>
          </div>
          <div class="pricing-feature">Доступ к ИИ-ассистенту</div>
          <div class="pricing-feature">
            Шаблоны проектных окументов <nobr>в ДКЦП-подходе</nobr>
          </div>
          <div class="pricing-feature">
            Консультационные сессии с Мишей и Женей
          </div>

          <a
            href="https://t.me/okb_ponedelnik"
            class="promo-link third"
            target="_blank"
            >Запросить счёт</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="ids__space XL"></div>
  <div class="ids__wrapper L">
    <div class="ids__text-width">
      <h3>Давайте ещё разок, зачем вам курс?</h3>
      <div class="ids__sequence XL gap-M">
        
        <ul>
          <li>
            Чтобы уметь заранее, до начала работы, договариваться с заказчиком
            про фундаментальные вопросы его бизнеса, которые повлияют на дизайн
            и маркетинг.
          </li>
          <li>
            Чтобы аргументировать свою позицию, если чувствуете, что у клиента
            не проработана основа – ценностное предложение.
          </li>
          <li>
            Чтобы чувствовать себе увереннее, свободнее, брать более сложные
            проекты и просить за свою работу больше денег.
          </li>
        </ul>
        <p>
          Остались вопросы?
          <a href="https://t.me/okb_ponedelnik" target="_blank">Напишите</a>,
          поговорим.
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
