{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <h1>ДКЦП помогает компаниям понять, что и кому они продают</h1>
  <div class="dkcp-splash-container">
    <div
      class="illustration-container illustration-container-back"
      data-illustration-type="splash"
      data-background-color="--ids__background-RGB"
      data-canvas-layer="back">
      <canvas class="illustration-canvas"></canvas>
    </div>
    <div
      class="illustration-container illustration-container-front"
      data-illustration-type="splash"
      data-background-color="--ids__background-RGB"
      data-canvas-layer="front">
      <canvas class="illustration-canvas"></canvas>
    </div>
  </div>
  <div class="ids__space M"></div>
  <div class="ids__text-width">
    <p>
      А разве бывают компании, которые не понимают, что продают? Как ни странно,
      да. И их много. Ведь это понимание на деле состоит из разных вопросов.
    </p>
  </div>
  <ul class="inline-block">
    <li>Что продаётся?</li>
    <li>Какие у этого свойства?</li>
    <li>Кто продаёт?</li>
    <li>Почему ему можно доверять?</li>
    <li>Кому он это продаёт?</li>
    <li>Какие это люди?</li>
    <li>Зачем или почему они это покупают?</li>
    <li>Сколько это стоит?</li>
    <li>Когда и как платить?</li>
    <li>Что ещё нужно сделать, кроме денег?</li>
    <li>Зачем это нужно «на самом деле», в чём истинный смысл?</li>
  </ul>
  <div class="ids__text-width">
    <p>
      Возможно, вам показалось, что эти вопросы только для стартапов. Но нет,
      даже зрелый бизнес часто не может на них ответить. Ответы на эти вопросы
      влияют на продукт, дизайн, текст, каналы доставки и стратегию продаж.
      Набор развёрнутых ответов на эти фундаментальные вопросы мы называем
      ценностным предложением.
    </p>
    <p>
      ДКЦП — это модель и методология, которые позволяют договориться о
      фундаментальных основах бизнеса, чтобы эффетивно им управлять.
    </p>
  </div>
</div>

<div class="ids__space L"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h2>Модель</h2>

    <div class="with-sidenote">
      <p>
        ДКЦП — это модель для работы с ценностным предлжением бизнеса.
        Расшифровывается как «Дворец культуры ценностного предложения».
        Культура — значит максимально высокие стандарты того, какие ответы
        считать корректными и непротиворечивыми. А «дворец», потому что просто
        так захотелось.
      </p>
      <div class="sidenote">
        {% include 'glossary/value-proposition.html' %}
      </div>
    </div>
    <div class="ids__space XS"></div>
    <div style="position: relative; padding-top: 56.25%; width: 100%">
      <iframe
        src="https://kinescope.io/embed/3tXLRp4j1hnt5WEP9ovYsW"
        allow="
          autoplay;
          fullscreen;
          picture-in-picture;
          encrypted-media;
          gyroscope;
          accelerometer;
          clipboard-write;
          screen-wake-lock;
        "
        frameborder="0"
        allowfullscreen
        style="
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        "></iframe>
    </div>
    <div class="ids__space M"></div>
  </div>
  <div class="ids__text-width">
    <p>
      ДКЦП одновременно и модель, и формализованный язык. Владение терминологией
      и «грамматикой» ДКЦП помогает:
    </p>
    <ol>
      <li>Задать вопросы корректно.</li>
      <li>Понять, когда ответы несостоятельны, и переспросить.</li>
      <li>Понять, когда ответы годные, но конфликтуют между собой.</li>
      <li>Системно работать с этим знанием всей командой.</li>
    </ol>

    <p>
      В результате работы над вопросами и ответами получается модель,
      описывающая реальность компании. Например, вот так выглядит заполненная
      модель ДКЦП для сервиса подписки на готовую еду.
      <!--<a href="#">сервиса подписки на готовую еду</a>,
        <a href="#">курсов программирования</a>,
        <a href="#">оборудования для производства мебели</a> и
        <a href="#">точки с шаурмой</a>.-->
    </p>
    <div class="ids__space S"></div>

    {% set values = ['Экологичность'] %} {% set segment = ['Молодые родители в
    крупных городах'] %} {% set conflict = ['Хотят здоровую еду для детей, но
    нет времени готовить'] %} {% set artifact = ['Готовая органическая детская
    еда'] %} {% set artifactAttrs = ['Без консервантов', 'Местные продукты',
    'Возрастная маркировка'] %} {% set arguments = ['Здоровое питание для
    занятых родителей без компромиссов'] %} {% set priceConditions = ['500₽ за
    порцию', 'Скидка при подписке'] %} {% set exchangeConditions = ['Доставка в
    день заказа', 'Возврат в течение недели'] %} {% set companyAttrs = ['10 лет
    на рынке', 'Сертификат качества'] %} {% set draft = true %} {% include
    'dkcp.html' %}

    <p>
      Чтобы работать с моделью ДКЦП, команда должна владеть методологией:
      грамотно проводить интервью, формулировать гипотезы, конструировать
      аргументы, проверять содержимое модели по критериям корректности и
      сходимости.
    </p>
  </div>
</div>

<div class="ids__space L"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h2>Методология</h2>
    <p>
      Методология нужна, чтобы работать с ценностным предложением системно, не
      теряя инфомацию на протяжении времени, чтобы делать это всей командой, не
      переводя формальные описания на бытовой язык и не теряя в точности.
    </p>
    <p>
      Если последовательно применять методологию ДКЦП, можно перестроить
      компанию так, чтобы все решения принимались в логике создания ценности, а
      не в «производственной» или «корпоративной».
    </p>
    <p>Вот ключевые компоненты методологии</p>
  </div>
</div>

  <div class="ids__space S"></div>

<div class="ids__wrapper L">
  <div class="ids__sequence L gap-M">
    <div class="ids__sequence-item">
      <aside>
        <p><strong>Предварительное моделирование</strong></p>
      </aside>
    </div>

    <div class="ids__sequence-item">
      <aside>
        <p>
          <strong
            >Конвейер гипотез, обеспечивает транспорт для всей системы</strong
          >
        </p>
      </aside>
    </div>

    <div class="ids__sequence-item">
      <aside>
        <p>
          <strong>Экселенц, среда для моделирования и анализа данных</strong>
        </p>
      </aside>
    </div>
  </div>

  <div class="divider"></div>

  <div class="ids__sequence L gap-M">
    <div class="ids__sequence-item">
      <aside>
        <p><strong>Семиотическое исследование категории</strong></p>
      </aside>

      <aside>
        <p>
          <strong>Технология проведения исследовательских интервью.</strong>
        </p>
      </aside>

      <aside>
        <p><strong>Технология проведения этнографии</strong></p>
      </aside>

      <aside>
        <p><strong>Ценовое позиционирование</strong></p>
      </aside>

      <aside>
        <p><strong>Ревизия активов</strong></p>
      </aside>

      <aside>
        <p><strong>Сборка системы ценностей компании</strong></p>
      </aside>
    </div>

    <!--центр-->
<div class="ids__sequence-item ids__sequence-center">
  <div class="ids__space S"></div>
  <img
    src="/assets/dkcp/dkcp-pic-dasha.png"
    alt="Модель ДКЦП"
    class="ids__sequence-image"
  />
  <div class="ids__space S"></div>
  <p>Ядро методологии: модель ДКЦП.</p>
  <p>Точка сборки: обечспечивает корректность и сходимость данных.</p>
  <div class="ids__space S"></div>
  <aside>
    <p><strong>Нарративное конструирование</strong></p>
  </aside>
</div>


    <!--правая колонка-->
    <div class="ids__sequence-item">
      <aside>
        <p><strong>Сборка системы ценностей компании.</strong></p>
      </aside>

      <aside>
        <p><strong>Конкуентный бенчмаркетинг</strong></p>
      </aside>

      <aside>
        <p><strong>Конструирование артефакта</strong></p>
      </aside>

      <aside>
        <p><strong>CJM: картирование и моделирование</strong></p>
      </aside>
    </div>
  </div>

  <div class="divider"></div>

  <!--низ-->
  <div class="ids__sequence L gap-M">
    <div class="ids__sequence-item">
      <aside>
        <p><strong>Прототипирование</strong></p>
      </aside>
    </div>
    <div class="ids__sequence-item">
      <aside>
        <p><strong>Тестирование</strong></p>
      </aside>
    </div>
    

    <div class="ids__sequence-item">
      <aside>
        <p><strong>Дизайн система</strong></p>
      </aside>
    </div>
  </div>
</div>
</div>


<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <h3>Статьи</h3>

      <a
        href="https://blog.buro.cx/arhitektonika-cennostnogo-predlozheniya/"
        target="_blank">
        <aside>
          <h3>Архитектоника ценностного предложения ↗</h3>
          <p>
            Как системно создавать ценностные предложения, которые выдерживают
            проверку логикой и рынком. Смотрим на ЦП как на набор
            взаимосвязанных блоков, а абстрактных идей.
          </p>
        </aside>
      </a>

      <a
        href="https://blog.buro.cx/anatomiia-unikalnosti-chto-takoie-unikalnoie-torghovoie-priedlozheniie/"
        target="_blank">
        <aside>
          <h3>Анатомия уникальности ↗</h3>
          <p>
            Разбираемся, что такое УТП, используя модель ДКЦП. Три главных
            составляющих УТП, создание уникальности, определение мотивации к
            покупке и формулирование предложения.
          </p>
        </aside>
      </a>
      <a
        href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/"
        target="_blank">
        <aside>
          <h3>7 способов проиграть конкуренцию за таланты ↗</h3>
          <p>
            Как эйчару создавать согласованные EVP и рассматривать найм как
            систему обмена. Типичные конфликты, из-за которых разваливается EVP,
            — и способ быстро их диагностировать и разрешать.
          </p>
        </aside>
      </a>
    </div>

    <div class="ids__sequence-item">
      <div class="ids__text-width">
        <h3>Эфиры</h3>
      </div>

      <a href="https://kinescope.io/oKjdAermZg6xcX9DAEQtUN" target="_blank">
        <aside>
          <h3>От Хади к Хадиду (HADI → HADID) ↗</h3>
          <p>
            Как ДКЦП-подход меняет работу с продуктовыми гипотезами.
          </p>
        </aside>
      </a>

      <a href="https://kinescope.io/iwrruiMtYvjfzzE7xWSErn" target="_blank">
        <aside>
          <h3>Делай медленно – мешай быстро! ↗</h3>
          <p>
            Эфир о командных конфликтах, которые мешают создавать ценность для клиентов.
          </p>
        </aside>
      </a>

      <a href="https://kinescope.io/vZv4ZfEEMFf5rXhnZ57CFg" target="_blank">
        <aside>
          <h3>Эфир с Артёмом ↗</h3>
          <p>
            Разбор корпороативной презентации .
          </p>
        </aside>
      </a>
    </div>
  </div>
  </div>
</div>


<div class="ids__space L"></div>

<style>
  .ids__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .ids__table-head {
    font-weight: 600;
  }

  .ids__table small {
    font-weight: 400;
    opacity: 0.7;
  }
</style>

<div class="ids__wrapper L">
  <div class="ids__text-width">
    <h2>ДКЦП применяют</h2>
    <p>
      ДКЦП — это язык. И его применение можно описать понятной нам метафорой.
      Давайте зададимся вопросом, когда нам хочется выучить новый для себя язык?
    </p>

    <p>Глобальных контекстов по сути два:</p>

    <ol>
      <li>
        Вы хотите получить какую-то обратную связь (в том числе в виде изменения
        поведения) от человека, который ваш язык не понимает
      </li>
      <li>
        Вы полиглот и вам нравится изучение языков как процесс
      </li>
    </ol>

    <p>
      Для первого контекста можно рассмотреть следующие случаи
      (по умолчанию сторона 1 — это сторона, которая заинтересована в ОС):
    </p>
  </div>

  <div class="ids__space M"></div>


  <div class="ids__sequence L gap-M ids__table">
    <div class="ids__table-head">Сторона 1</div>
    <div class="ids__table-head">Сторона 2</div>
    <div class="ids__table-head">Ситуация или задача коммуникации</div>
    <div class="ids__table-head">Целевая обратная связь</div>

    <div>Компания</div>
    <div>Клиент</div>
    <div>Запуск нового продукта</div>
    <div>Покупка или понимание причины непокупки</div>

    <div>Лидер трансформации</div>
    <div>Сотрудники</div>
    <div>Объединение портфеля в экосистему</div>
    <div>Согласованные действия руководителей продукта во имя клиента</div>

    <div>Фаундер</div>
    <div>Топ-менеджеры</div>
    <div>Выход фаундера из операционки</div>
    <div>Перенятие и развитие видения компании</div>

    <div>Творческий специалист B2B</div>
    <div>Заказчик</div>
    <div>Запуск проекта, зависимого от ЦП</div>
    <div>Понимание Заказчиком своего вклада в проект</div>

    <div>Заказчик</div>
    <div>Творческий специалист B2B</div>
    <div>Запуск проекта, зависимого от ЦП</div>
    <div>Избегание шаблонных, неработающих решений</div>

    <div>Компания</div>
    <div>Инвестор</div>
    <div>Питчинг инвестору</div>
    <div>Решение инвестора вложиться</div>

    <div>Фаундер</div>
    <div>Сам с собой</div>
    <div>Кризис в компании</div>
    <div>Принятие управленческих решений и корректировка курса</div>

    <div>HR</div>
    <div>Соискатель</div>
    <div>Закрытие места</div>
    <div>Принятие оффера, удержание</div>

    <div>Фаундер</div>
    <div>Ментор</div>
    <div>Участие в акселераторе</div>
    <div>Разрешение узких мест</div>
  </div>

  <div class="ids__space L"></div>

  <div class="ids__text-width">
    <h3>Продуктовый портфель</h3>
  </div>
  <div class="ids__space S"></div>

  <div class="ids__sequence L gap-M ids__table">
    <div class="ids__table-head">
      Сторона 1<br /><small>(наш клиент)</small>
    </div>
    <div class="ids__table-head">Сторона 2</div>
    <div class="ids__table-head">Ситуация или задача коммуникации</div>
    <div class="ids__table-head">Продукт</div>

    <div>Компания</div>
    <div>Клиент</div>
    <div>
      Запуск нового продукта;<br />
      Решение нарушений обменных процессов
    </div>
    <div>Эталон-М</div>

    <div>Лидер трансформации</div>
    <div>Сотрудники</div>
    <div>
      Наладка обменной функции;<br />
      Объединение портфеля в экосистему
    </div>
    <div>КСЦ-интенсив<br />CXSL<br />Экселенц</div>

    <div>Фаундер</div>
    <div>Топ-менеджеры</div>
    <div>Выход фаундера из операционки</div>
    <div>КСЦ-интенсив<br />База ДКЦП (для топов)</div>

    <div>Творческий специалист B2B</div>
    <div>Заказчик</div>
    <div>Запуск проекта, зависимого от ЦП</div>
    <div>База ДКЦП<br />CXSL</div>

    <div>Фаундер</div>
    <div>Инвестор</div>
    <div>Питчинг инвестору</div>
    <div><em>придумать</em></div>

    <div>Инвестор</div>
    <div>Фаундер</div>
    <div>Решение об инвестициях</div>
    <div>ДКЦП-DD</div>

    <div>HR</div>
    <div>Соискатель</div>
    <div>Закрытие места</div>
    <div><em>придумать</em></div>

    <div>Фаундер</div>
    <div>Ментор</div>
    <div>Участие в акселераторе</div>
    <div><em>придумать</em></div>
  </div>
</div>


<div class="ids__space L"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <h2>ДКЦП работает</h2>
  </div>
  <div class="ids__space S"></div>
  <div class="ids__sequence XL gap-L">
    <div class="ids__sequence-item">
      <div class="review">
        <div class="review-author">
          <div class="review-author-portrait">
            <img
              src="/assets/ksc-open/Elena-review.jpg"
              alt="Елена Руденская" />
          </div>
          <div class="review-name">
            <strong>Елена Руденская.</strong> Руководитель исследовательского
            направления, Нейролаборатория Сбера
          </div>
        </div>

        <div class="review-text">
          <p>
            «Рабочие понятные фреймворки, как все интегрировано со всем - люблю
            такие вещи из серии «теория всего», системность и глубина, живое
            общение/разборы/ответы на вопросы - мы не бежали, а шли в темпе
            группы, останавливаясь для обсуждений, состав участников курса -
            было приятно делать вместе домашки и интересно общаться.»
          </p>
        </div>
      </div>

      <div class="ids__space S"></div>

      <div class="review">
        <div class="review-author">
          <div class="review-author-portrait">
            <img src="/assets/ksc-open/Artem-review.png" alt="Артём Никшин" />
          </div>
          <div class="review-name">
            <strong>Артём Никшин.</strong> Владелец нескольких ИТ-решений и
            руководитель проекта смарт-платформы PROSTOR в нефтегазовой компании
          </div>
        </div>

        <div class="review-text">
          <p>
            «ДКЦП помогает не просто красиво сформулировать «миссию продукта», а
            буквально разложить по полочкам боли, задачи и ожидаемый результат
            для каждого участника экосистемы. Через призму артефактов ДКЦП я
            чётко понимаю, где именно в поле потребностей находится моя
            платформа, какие идеи стоит развивать. Это даёт единый, понятный
            vision для команды.
          </p>

          <p>
            Отдельно ценю в ДКЦП то, что это не «презентационный шаблон», а
            живой рабочий инструмент. Любой инсайт из продаж, любая обратная
            связь от клиентов или смежных управлений сразу прогоняется через
            методологию: мы выносим гипотезу на рабочие группы, сверяем её с
            картой ценностей и быстро понимаем, усиливает ли она наше ядро
            предложения или размывает его. Если в эту работу включать команду,
            люди начинают гораздо лучше чувствовать пользователя и инициативы
            рождаются уже не «с потолка», а из реальных болей и задач.
          </p>

          <p>
            В итоге ДКЦП для меня — это и способ «раскопать» настоящее
            ценностное предложение, и удобный язык, на котором можно одинаково
            уверенно разговаривать и с разработчиками, и с топ-менеджерами, и с
            отраслевой аудиторией на внешних мероприятиях.»
          </p>
        </div>
      </div>

      <div class="ids__space S"></div>

      <div class="review">
        <div class="review-author">
          <div class="review-author-portrait">
            <img
              src="/assets/ksc-open/Valentina-Sergeeva-review.jpeg"
              alt="Валентина Сергеева" />
          </div>
          <div class="review-name">
            <strong>Валентина Сергеева.</strong> Head of Marketing Research,
            Flowwow
          </div>
        </div>

        <div class="review-text">
          <p>
            «Уникальный контент. Тот случай, когда слово «авторский» реально
            означает сложную работу создателя курса в течение многих лет
            практики. Видно, что в этом много его личной рефлексии на тему.
          </p>
          <p>
            Также классно, что Михаил всегда честно относится к дискуссии и,
            если есть спорные новые вопросы, готов вместе поразмышлять на эту
            тему.»
          </p>
        </div>
      </div>
    </div>

    <div class="ids__sequence-item">
      <div class="review">
        <div class="review-author">
          <div class="review-author-portrait">
            <img src="/assets/ksc-open/Maksim-review.png" alt="Максим" />
          </div>
          <div class="review-name">
            <strong>Макс Фёдоров.</strong> CMO Whoosh, ментор. Ex. Global CMO
            Dodo Pizza
          </div>
        </div>

        <div class="review-text">
          <p>
            «Методология ДКЦП для меня ни много ни мало отправная точка
            маркетинга — настоящий ценностный маркетинг начинается с этих
            сложнейших вопросов: кто наш клиент, какую проблему мы решаем и
            каким образом, благодаря чему? Можно нагенерить тонну булшита
            отвечая на эти вопросы бессистемно и даже поверить в него, и даже
            вбухать тонну ресурсов в продукт и продвижение — а в итоге
            получается какой-то тлен. ДКЦП помогает посмотреть в очень честное
            зеркало. Для умных и смелых — это начало большого пути.»
          </p>
        </div>
      </div>

      <div class="ids__space S"></div>

      <div class="review">
        <div class="review-author">
          <div class="review-author-portrait">
            <img src="/assets/ksc-open/dima-solomakin-review.jpg" alt="Дима" />
          </div>
          <div class="review-name">
            <strong>Дима Соломакин.</strong> Руководитель направления
            привлечения пользователей через веб-воронки в Glam AI
          </div>
        </div>

        <div class="review-text">
          <p>
            «Мы разрабатываем платформу и приложения, которое помогают креаторам
            и обычным пользователям генерировать трендовые фото и видео с
            помощью ИИ.
          </p>
          <p>
            Учился у Миши на курсе CX: Стратегическая логика, там начал
            осваивать ДКЦП. Через месяц после окончания обучения Миша на
            менторинг сессии поделился со мной своей ИИ-разработкой –
            виртуальным стратегическим консультантом «Экселенц». Я взял за
            основу готовые инструкции и с помощью Курсора доработал под задачи
            производства рекламных креативов. В период внедрения ДКЦП в процессы
            запуска и анализа эффективности рекламных креативов мы наблюдали
            снижение стоимости привлечения пользователя в три раза при рекламных
            расходах свыше $1М в месяц а также отметили повышение доли успешных
            креативов в общем объеме с 1% до 6%.
          </p>

          <ul>
            <li>
              Выделил ключевые мотивационные конфликты внутри наших целевых
              аудиторий.
            </li>
            <li>
              Дополнил данные статистикой ранее запущенных рекламных креативов.
              Сделал несколько итераций по созданию новых версий.
            </li>
            <li>
              Провёл пилотный проект, в рамках которого сам генерировал итерации
              рекламных скриптов и отбирал версии на тест.
            </li>
            <li>
              Объяснил суть и ценность инструмента креативным менеджерам, чтобы
              возник интерес пробовать делать по-новому.
            </li>
            <li>Корректировал в процессе адаптации.</li>
            <li>
              Когда результаты стали улучшаться, добавил ДКЦП-фреймворки к
              обязательному списку материалов адаптации новых сотрудников.
            </li>
          </ul>

          <p>
            Раньше новые маркетологи в команде на старте работы генерировали
            слабые креативы, тк плохо понимали рынок и потребности и двигались
            интуитивно, наугад. ДКЦП позволил создать “прикладную стратегию”,
            которую может быстрот начать использовать любой сотрудник рекламного
            отдела для того, чтобы оценить качество сгенерированных сценариев и
            быстрее найти удачные варианты для тестов. Таким образом, теперь я
            быстрее внедряю в команду новых людей и добиваюсь выполнения
            показателей. Теперь точность гипотез об аудитории и аргументах в
            креативах выше, новые люди быстрее адаптируются и окупают себя.»
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ids__space L"></div>
<div class="ids__wrapper">
  <h2>Михаил Руденко</h2>

  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <aside class="dkcp-author-card">
        <div class="dkcp-author-portrait">
          <img src="/assets/ksc-open/m@2x-100.jpg" alt="Михаил Руденко" />
        </div>
        <div class="dkcp-author-content">
          <p>
            Сооснователь Бюро «Понедельник», автор методологии ДКЦП,
            преподаватель ВШЭ. Теоретик и практик управления потребительским
            опытом, бизнес-аналитик, визионер, стратег и музыкант.
          </p>
        </div>
      </aside>

      <!-- <a
        href="https://osmisle.ru/shirenishi?ysclid=mjk54pv53u276409615"
        target="_blank">
        <aside>
          <div class="event">
            <img src="/assets/dkcp/shire-nishi-1.jpg" />
          </div>
          <h3>Конференция «Шире Ниши» ↗</h3>
          <p>
            Шире ниши — конференция, на которой уже второй год подряд
            digital-специалисты из разных сфер, специальностей и грейдов
            соберутся для обмена инсайтами и инсайдами.
          </p>
        </aside>
      </a>

      <a
        href="https://productsense.io/?ysclid=mjk55r60xa807524551#about"
        target="_blank">
        <aside>
          <div class="event">
            <img src="/assets/dkcp/product-sense-1.jpg" />
          </div>
          <h3>Конференция Product Sense ↗</h3>
          <p>
            ProductSense — место встречи практики и экспертных знаний, источник
            для новых идей и полезные знакомства. Выступал с темой «От фичи
            к продукту: формируем ценностное предложение, с которым смогут
            работать все отделы».
          </p>
        </aside>
      </a>

      <a
        href="https://biasconf.ru/talks/81ae6e1ad9bb4378b37147a1dc124e5a/?utm_source=social&utm_medium=tg&utm_campaign=post&utm_term=speaker&utm_content=Rudenko"
        target="_blank">
        <aside>
          <h3>Конференция BiasСonf ↗</h3>
          <p>
            Конференция про философско‑методологические и научные основы
            исследований в бизнесе. Тема выступления «Модель ДКЦП как решение
            лингвистической проблемы в бизнесе».
          </p>
        </aside>
      </a>
    </div>

    <div class="ids__sequence-item">
      <a href="https://stratoplan-school.com/conference/" target="_blank">
        <aside>
          <h3>Конференция «Навигация в бурю» ↗</h3>
          <p>
            Конференция объединяет руководителей и экспертов, чтобы обсудить
            стратегические вызовы в IT и бизнесе. Тема выступления: кризис как
            лучшее время для ревизии себя и своей рыночной ценности.
          </p>
        </aside>
      </a>

      <a href="https://www.youtube.com/@cxsl" target="_blank">
        <aside>
          <h3>От Точки до Точки: как устроены офисы банка ↗</h3>
          <p>
            Эфир с Кириллом Коломейцевым, главным архитектором Банка Точка,
            спроектировавшим 30 офисов от Калининграда до Красноярска. В эфире
            Кирилл делится принципами проектирования рабочего пространства.
          </p>
        </aside>
      </a>

      <a
        href="https://elma365.com/ru/power-up-2025/?utm_source=cxlogic&utm_medium=post&utm_campaign=powerup2025"
        target="_blank">
        <aside>
          <h3>ELMA Power UP! ↗</h3>
          <p>
            Эфир с Наталией Долженковой, исполнительным директором ELMA, для
            тех, кто планирует изменения, ищет методику и инструмент для их
            реализации. Про грабли методологий трансформации (Миша) и про
            оптимизацию тестирования гипотез на лоукоде (Наташа).
          </p>
        </aside>
      </a>

      <a
        href="https://www.youtube.com/playlist?list=PLl7kvlp_qh0j9uzQGU2ws4DkBWdbjY1_d"
        target="_blank">
        <aside>
          <h3>Подкаст с Ильёй Бирманом ↗</h3>
          <p>
            Миша Руденко и Илья Бирман говорят про проект Ильи — движок для
            блогов «Эгея» и разбирают его с помощью модели ДКЦП.
          </p>
        </aside>
      </a>

      <aside>
        <h3>Курс в НИУ ВШЭ</h3>
        <p></p>
      </aside>

      <aside>
        <div class="event">
          <img src="/assets/dkcp/mango-office-1.jpg" />
        </div>
        <h3>Обучение в Манго Ростелеком</h3>
      </aside> -->

    </div>
  </div>
</div>

<div class="ids__space L"></div>
<div class="ids__wrapper">
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <div class="ids__text-width">
        <h3>Курсы</h3>
      </div>

      <a href="https://ponedelnik.ru/ksc" target="_blank">
        <aside>
          <h3>Культура создания ценности ↗</h3>
          <p>
            Внедрить ДКЦП-мышление в свою компанию. Для фаундеров, CEO, CPO.
          </p>
        </aside>
      </a>

      <a href="https://ponedelnik.ru/checkup" target="_blank">
        <aside>
          <h3>ДКЦП-чекап ↗</h3>
          <p>
            Проверить свое ценностное предложение (СVP и EVP) и быстро принять
            меры. Для фаундеров, CEO, CPO, HRD.
          </p>
        </aside>
      </a>

      <a href="https://cxstrategy.ru/" target="_blank">
        <aside>
          <h3>Открытый курс CX:SL ↗</h3>
          <p>
            Освоить методологию под руководством автора в компании с другими
            участниками. Для фаундеров, продактов, CX-исследователей.
          </p>
        </aside>
      </a>

      <a href="https://new.ponedelnik.ru/ksc-open/" target="_blank">
        <aside>
          <h3>Открытый интенсив КСЦ ↗</h3>
          <p>
            Научиться создавать ценностные предложения системно. Для лидеров и
            их продуктовых команд.
          </p>
        </aside>
      </a>
    </div>
  </div>
  </div>
</div>

<div class="ids__space L"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h3>Подписаться</h3>
  </div>

  <div class="ids__space S"></div>

  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <a href="https://t.me/cxlogic" target="_blank">
        <aside>
          <h3>Канал в телеграме ↗</h3>
          <p>
            Стратегическая логика, клиентский опыт, продукты и менеджмент этого
            добра. У аппарата Михаил Руденко.
          </p>
        </aside>
      </a>
    </div>

    <div class="ids__sequence-item">
      <a href="https://www.youtube.com/@cxsl" target="_blank">
        <aside>
          <h3>Ютуб ↗</h3>
          <p>Канал ОКБ «Понедельник» про customer experience.</p>
        </aside>
      </a>
    </div>
  </div>
</div>

<script type="module" src="/assets/illustrations/init.js"></script>

{% endblock %}
