{% extends 'layout.html' %} {% set pageTitle = 'ДКЦП' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <div class="ids__sequence XL gap-S">
    <div class="ids__sequence-item">
      <div
        class="illustration-container dark-theme"
        data-illustration-type="sphere">
        <canvas class="illustration-canvas"></canvas>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div
        class="illustration-container"
        data-illustration-type="layered-house"
        data-background-color="--ids__surface-RGB"
        style="background-color: rgba(var(--ids__surface-RGB), 1)">
        <canvas class="illustration-canvas"></canvas>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div
        class="illustration-container"
        data-illustration-type="pndlnk"
        data-background-color="--ids__background-RGB"
        style="
          background-color: rgba(var(--ids__background-RGB), 1);
          aspect-ratio: 2 / 1;
        ">
        <canvas class="illustration-canvas"></canvas>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div
        class="illustration-container"
        data-illustration-type="splash"
        data-background-color="--ids__surface-RGB">
        <canvas class="illustration-canvas"></canvas>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="three-icons"></div>
    </div>
  </div>
</div>

<div class="ids__space XL"></div>
<div class="ids__space XL"></div>
<div class="ids__space XL"></div>

<script type="module" src="/assets/illustrations/init.js"></script>
{% endblock %}
