{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content
%}
<div style="height: 10vh"></div>

<div class="ids__wrapper L" style="height: 70vh; max-height: 23em">
  <div class="home-hero__title">
    <h1 class="accent">
      Помогаем стать компанией, с которой приятно иметь дело
    </h1>
  </div>
  <!-- <div class="ids__space S"></div> -->
  <div class="home-hero-columns">
    <div class="home-hero-columns__col home-hero-columns__col--list">
      <ul class="inline-block thin">
        <li>
          <a href="#hero-next"
            >Проектируем взаимодействие с клиентами, сотрудниками и
            партнёрами</a
          >
        </li>
        <li>10 лет на рынке</li>
        <li>60+ проектов в портфолио</li>
        <!-- <li>Знаем, как точно не надо делать</li> -->
      </ul>
    </div>
    <div class="home-hero-columns__col home-hero-columns__col--logos">
      <div class="logo-wall">
        <div class="logo-wall-item" aria-label="Додо Пицца">
          {% include 'assets/dodo-pizza-logo.html' %}
        </div>
        <div class="logo-wall-item" aria-label="ВкусВилл">
          {% include 'assets/home-client-vkusvill.html' %}
        </div>
        <div class="logo-wall-item" aria-label="МТС">
          {% include 'assets/home-client-mts.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Яндекс">
          {% include 'assets/home-client-yandex.html' %}
        </div>

        <div class="logo-wall-item" aria-label="X5">
          {% include 'assets/home-client-x5.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Роза Хутор">
          {% include 'assets/home-client-roza-khutor.html' %}
        </div>

        <div class="logo-wall-item" aria-label="Магнит">
          {% include 'assets/home-client-magnit.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Leroy Merlin">
          {% include 'assets/home-client-leroy-merlin.html' %}
        </div>
        <div class="logo-wall-item" aria-label="СберМаркет">
          {% include 'assets/home-client-sbermarket.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Контур">
          {% include 'assets/home-client-kontur.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Ланит">
          {% include 'assets/home-client-lanit.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Русская Медная Компания">
          {% include 'assets/home-client-rmk.html' %}
        </div>

        <div class="logo-wall-item" aria-label="ПИК">
          {% include 'assets/home-client-pik.html' %}
        </div>
        <div class="logo-wall-item" aria-label="T2">
          {% include 'assets/home-client-t2.html' %}
        </div>

        <div class="logo-wall-item" aria-label="Autodesk">
          {% include 'assets/home-client-autodesk.html' %}
        </div>
        <div class="logo-wall-item" aria-label="Mango Telecom">
          {% include 'assets/home-client-mango-office.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ids__space L" id="hero-next"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <!-- <p class="loud">Привет!</p> -->
    <div class="with-sidenote with-sidenote--illustration">
      <h2>Что мы делаем</h2>
      <div class="ids__space XS"></div>
      <p>
        Понедельник — это опыто-конструк&shy;торское бюро. Мы проектируем
        взаимодей&shy;ствия людей и компаний так, чтобы они были логичными,
        честными и выгодными для обеих сторон.
      </p>
      <div class="sidenote">
        <div
          class="illustration-container"
          data-illustration-type="pndlnk"
          data-background-color="--ids__background-RGB"
          style="
            background-color: rgba(var(--ids__background-RGB), 1);
            aspect-ratio: 2 / 1;
          ">
          <canvas class="illustration-canvas"></canvas>
        </div>
      </div>
    </div>
    <div class="with-sidenote">
      <p>
        Мы лезем под капот вашего бизнеса: в структуру, в культуру, в принятие
        решений. Используем системный подход и собственную методологию, чтобы
        найти места, где у вас ломается обмен ценностью. И в итоге делаем так,
        чтобы иметь с вами дело было приятно — по-настоящему и надолго.
      </p>
      <div class="sidenote">
        <p>
          Иногда Понедельник ошибочно называют
          <em>опытно-конструк&shy;торским</em> бюро. Опытно-конструкторское бюро
          конструирует и испытывает опытные образцы, а <em
            >опыто-конструкторское</em
          >
          бюро конструирует человеческий опыт. Не перепутайте!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ids__wrapper L">
  <div class="ids__space S"></div>
  {% include 'sections/products-promo-table.html' %}
</div>
<div class="ids__space L"></div>

<div class="ids__wrapper L">
  <div class="ids__text-width">
    <h2>Что мы сделали</h2>
  </div>

  <div class="ids__space XS"></div>

  <div class="ids__text-width">
    <p>
      Наши проекты — это очень разные истории, от разработки тележек для
      супермаркетов до процессов найма в крупнейшие российские корпорации.
      Их объединяет одно: желание компании улучшить взаимодействие с людьми.
    </p>
  </div>

  <div class="ids__space S"></div>

  {% include 'sections/projects-catalog.html' %}
</div>

<div class="ids__wrapper L">
  <h2>Люди</h2>
  <div class="ids__text-width">
    <p>
      Понедельник — это коллектив единомышленников. К нам можно легко
      присоединиться и поработать вместе на один проект или остаться надолго.
    </p>
  </div>
  <div class="ids__space XS"></div>

  <div class="ids__sequence S">
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/m@2x-100.jpg" alt="Михаил Руденко" />
        </div>
        <p class="author-description">
          <strong>Михаил Руденко.</strong> Предприниматель, преподаватель,
          консультант
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/s@2x-100.jpg" alt="Сергей Степанов" />
        </div>
        <p class="author-description">
          <strong>Сергей Степанов.</strong> Руководитель проекта и куратор
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/e@2x-100.jpg" alt="Женя Арутюнов" />
        </div>
        <p class="author-description">
          <strong>Женя Арутюнов.</strong> Дизайнер, арт-директор, менеджер
          проектов и людей, лектор, наставник
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/v@2x-100.jpg" alt="Вера Харченко" />
        </div>
        <p class="author-description">
          <strong>Вера Харченко.</strong> Фасилитатор, наставник по
          исследованиям
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/b@2x-100.jpg" alt="Богдан Бурдин" />
        </div>
        <p class="author-description">
          <strong>Богдан Бурдин.</strong> Аналитик, куратор онлайн-сервисов и
          ПСК-процессов
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/k@2x-100.jpg" alt="Кристина Кострова" />
        </div>
        <p class="author-description">
          <strong>Кристина Кострова.</strong> Администратор проекта, супервайзер
          поля
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/d@2x-100.jpg" alt="Даша Коченова" />
        </div>
        <p class="author-description">
          <strong>Даша Коченова.</strong> Редактор, комьюнити-менеджер
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img
            src="/assets/ksc-open/rodionov-aleksandr.png"
            alt="Саша Родионов" />
        </div>
        <p class="author-description">
          <strong>Саша Родионов.</strong> Приглашённый спикер. Вице-президент по
          продуктовому развитию, тренер, НЛП-мастер.
        </p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="author">
        <div class="author-portrait">
          <img src="/assets/ksc-open/alina-raeva.png" alt="Алина Раева" />
        </div>
        <p class="author-description">
          <strong>Алина Раева.</strong> Приглашённый спикер. Ex-COO Muse Group и
          Tutu, руководитель трансформации в ОТП Банке и Магните.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ids__space XL"></div>

<div class="ids__wrapper L">
  <h3>Делимся знаниями</h3>

  <div class="pndlnk-promo-grid">
    <div class="pndlnk-promo-column">
      <a
        href="https://blog.buro.cx/arhitektonika-cennostnogo-predlozheniya/"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>статья</h6>
          <h3>Архитектоника ценностного предложения</h3>
          <p>
            Как системно создавать ценност&shy;ные предложения, которые
            выдерживают проверку логикой и рынком.
          </p>
        </aside>
      </a>

      <a
        href="https://kinescope.io/vZv4ZfEEMFf5rXhnZ57CFg"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>эфир</h6>
          <h3>Когда практика опережает теорию</h3>
          <p>Ищем ДКЦП в проектах, созданных без ДКЦП.</p>
        </aside>
      </a>

      <a
        href="https://blog.buro.cx/7-sposobov-proigrat-konkurenciyu-za-talanty/"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>статья</h6>
          <h3>7 способов проиграть конкуренцию за таланты</h3>
          <p>
            Как эйчару создавать согласованные EVP. Найм как система обмена,
            типичные конфликты и их разрешение.
          </p>
        </aside>
      </a>
    </div>

    <div class="pndlnk-promo-column">
      <a
        href="https://kinescope.io/iwrruiMtYvjfzzE7xWSErn"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>эфир</h6>
          <h3>Делай медленно — мешай быстро!</h3>
          <p>
            Эфир о командных конфликтах, которые мешают создавать ценность для
            клиентов.
          </p>
        </aside>
      </a>

      <a
        href="https://blog.buro.cx/anatomiia-unikalnosti-chto-takoie-unikalnoie-torghovoie-priedlozheniie/"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>статья</h6>
          <h3>Анатомия уникальности</h3>
          <p>
            Разбираемся, что такое УТП, используя модель ДКЦП. Три главных
            составляющих УТП, создание уникальности, определение мотивации к
            покупке и формулирование предложения.
          </p>
        </aside>
      </a>

      <a
        href="https://kinescope.io/oKjdAermZg6xcX9DAEQtUN"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6>эфир</h6>
          <h3>От Хади к Хадиду (HADI → HADID)</h3>
          <p>Как ДКЦП-подход меняет работу с продуктовыми гипотезами.</p>
        </aside>
      </a>
    </div>

    <div class="pndlnk-promo-column">
      <a
        href="https://t.me/cxlogic"
        target="_blank"
        class="pndlnk-promo-link dark">
        <aside>
          <h6>подписаться в телеграме</h6>
          <h3>CX: Стратегическая логика</h3>
          <p>
            Стратегическая логика, клиентский опыт, продукты и менеджмент этого
            добра. У аппарата Михаил Руденко.
          </p>
        </aside>
      </a>

      <a
        href="https://www.youtube.com/@cxsl"
        target="_blank"
        class="pndlnk-promo-link">
        <aside>
          <h6><span>▶</span>смотреть в ютубе</h6>
          <h3>CX: Стратегическая логика</h3>
          <p>Канал ОКБ «Понедельник» про customer experience.</p>
        </aside>
      </a>
    </div>
  </div>
</div>

<div class="ids__space XL"></div>

<div class="ids__wrapper L why-ponedelnik">
  <h2>Кстати, почему Понедельник?</h2>
  <div class="why-ponedelnik-grid">
    <div>
      <p>По нескольким причинам.</p>
      <p>
        Во-первых, изменения в своей жизни люди стараются начинать
        с понедельника.
      </p>
      <p>
        Мы хотим, чтобы наши клиенты перед тем как поменяться, обратились к нам
        за проработкой главных вопросов: А точно нам надо? А туда ли мы хотим
        меняться? А как довести это до конца?
      </p>
      <p>Так будет проще.</p>
    </div>
    <div class="serif">
      <p>
        Во-вторых, Понедельник — это в честь книги А.&nbsp;Б.&nbsp;Стругацких
        «Понедельник начинается в субботу».
      </p>
      <p>
        Мы очень любим творчество братьев, нам близки идеи созидательного труда
        и честного творчества на благо людей.
      </p>
      <p>
        Нашей любимой цитатой и неофициальным манифестом служит следующий
        отрывок:
      </p>
    </div>
    <div>
      <p>
        <em>
          «Сюда пришли люди, которым было приятнее быть друг с другом, чем
          порознь, которые терпеть не могли всякого рода воскресений, потому что
          в воскресенье им было скучно. Маги, Люди с большой буквы, и девизом их
          было — «Понедельник начинается в субботу». Да, они знали кое-какие
          заклинания, умели превращать воду в вино, и каждый из них не
          затруднился бы накормить пятью хлебами тысячу человек. Но магами они
          были не поэтому. Это была шелуха, внешнее. Они были магами потому, что
          очень много знали, так много, что количество перешло у них, наконец, в
          качество, и они стали с миром в другие отношения, нежели обычные люди.
          Они работали в институте, который занимался прежде всего проблемами
          человеческого счастья и смысла человеческой жизни, но даже среди них
          никто точно не знал, что такое счастье и в чём именно смысл жизни. И
          они приняли рабочую гипотезу, что счастье в непрерывном познании
          неизвестного и смысл жизни в том же. Каждый человек — маг в душе, но
          он становится магом только тогда, когда начинает меньше думать о себе
          и больше о других, когда работать ему становится интереснее, чем
          развлекаться в старинном смысле этого слова.»
        </em>
      </p>
    </div>
  </div>
  <div class="why-ponedelnik-rule"></div>
</div>

<script type="module" src="/assets/illustrations/init.js"></script>
{% endblock %}
