{% extends 'layout.html' %} {% set pageTitle = 'КСЦ:ОИ' %} {% set pageDesc = 'Культура создания ценности. Открытый интенсив' %} {% set ogImage = '/assets/ksc-open/IMG_7251.jpg' %} {% block content %}
<div class="ids__space top-screen-space M"></div>

<div class="article">
  <div class="ids__wrapper L">
    <div class="article-title ksc-title">
      <div class="ids__text-width">
        <h1 class="L">Культура создания ценности</h1>
      </div>
      <div class="article-title-illustration">
        <div class="illustration-container" 
           data-illustration-type="layered-house"
           data-background-color="--ids__surface-RGB"
           style="background-color: rgba(var(--ids__surface-RGB), 1);">
          <canvas class="illustration-canvas"></canvas>
        </div>
      </div>

      <div class="article-title-columns">
        <div class="article-title-column">
          <p class="loud mono"><mark>Открытый интенсив.</mark> Серия лекций и практик по сборке ценностного предложения для стартапов и продуктовых команд.</p>
        </div>
        
        
          
        <div class="article-title-column desktop-only">
          <aside class="contour">
            <p>
              Ещё у нас есть <strong><a href="https://ponedelnik.ru/ksc">большой курс</a></strong
              >, это корпоративная трансформа&shy;ционная программа для лидеров продук&shy;товых команд.
            </p>
          </aside>
        </div>
      </div>
      <div class="ids__space XL mobile-only"></div>
      <div class="ids__space XL mobile-only"></div>
      <p class="mobile-only" style="position: relative; z-index: 1;"><em>7 недель в онлайне</em></p>
      <div id="problem" style="position: absolute; bottom: -1.5em"></div>
    </div>
  </div>
  <div class="ids__wrapper L sticky">
    <div class="article-title-nav dark-theme">
      <div class="title-nav-item accent">
        <a href="#pricing" class="promo-link">Записаться</a>
      </div>

      <div class="title-nav-item desktop-only">
        <em>7 недель в онлайне</em>
      </div>

      <div class="title-nav-item desktop-only">
        <a href="#artifact">Что это и для кого</a>
      </div>
      <div class="title-nav-item">
        <a href="#schedule">Программа</a>
      </div>
      <div class="title-nav-item desktop-only">
        <a href="#result">Результат</a>
      </div>
      <div class="title-nav-item">
        <a href="#team">Кураторы</a>
      </div>
      <div class="title-nav-item">
        <a href="#pricing">Стоимость</a>
      </div>
    </div>
  </div>

  <div class="ids__space M"></div>


{% include 'ksc-open-rest.html' %}

{% endblock %}
