{% extends 'layout.html' %} {% set pageTitle = 'КСЦ:ОИ' %} {% set pageDesc = 'Культура создания ценности. Открытый интенсив' %} {% set ogImage = '/assets/ksc-open/IMG_7251.jpg' %} {% block content %}
<div class="ids__space top-screen-space M"></div>

<div class="article">
  <div class="ids__wrapper L">
    <div class="article-title ksc-title">
      <div class="ids__text-width">
        <h1 class="L">Культура создания ценности</h1>
      </div>

      <div class="article-title-columns">
        <div class="article-title-column">
          <p class="loud mono">Корпоративная трансформационная программа для&nbsp;продуктовых команд и&nbsp;их лидеров. Её цель — ...
          </p>
        </div>
      </div>

      <div class="article-title-illustration">
        <div class="illustration-container" 
           data-illustration-type="layered-house"
           data-background-color="--ids__surface-RGB"
           style="background-color: rgba(var(--ids__surface-RGB), 1);">
          <canvas class="illustration-canvas"></canvas>
        </div>
      </div>
      <div class="ids__space XL mobile-only"></div>
      <div class="ids__space XL mobile-only"></div>
      <p class="mobile-only" style="position: relative; z-index: 1;"><em></em></p>
      <div id="problem" style="position: absolute; bottom: -1.5em"></div>
    </div>
  </div>
  <div class="ids__wrapper L sticky">
    <div class="article-title-nav dark-theme">
      <div class="title-nav-item accent">
        <a href="#pricing" class="promo-link">Записаться</a>
      </div>

      <div class="title-nav-item desktop-only">
        <em></em>
      </div>

      <div class="title-nav-item desktop-only">
        <a href="#artifact">Что это и для кого</a>
      </div>
      <div class="title-nav-item">
        <a href="#schedule">Программа</a>
      </div>
      <div class="title-nav-item desktop-only">
        <a href="#result">Результат</a>
      </div>
      <div class="title-nav-item">
        <a href="#team">Кураторы</a>
      </div>
      <div class="title-nav-item">
        <a href="#pricing">Стоимость</a>
      </div>
    </div>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <div class="with-sidenote">
        <p>Культура создания ценности — это программа для продуктовых команд, которые хотят научиться создавать ценностные предложения системно, а не интуитивно.</p>
        <div class="sidenote">
          <p>Мне нравится эта выборка с запросами, вставила её инклюдом со старого сайта. Хочу сюда добавить запрос ИнАппСтори про несходимость ЦП и того, кем они себя видят. А остальные запросы проверить на соответсвие МК.</p>
        </div>
      </div>
      <p>Если вы лидер этой транформации, вот как может звучать ваш запрос:</p>
      {% include 'ksc-course-requests.html' %}

      <div class="ids__space M"></div>

      <div class="with-sidenote">
        <p>Программа обеспечивает максимальную связь с реальностью: обучение происходит на вашем реальном продукте, совместно всей командой, включая лидера.</p>
        <div class="sidenote">
          <p>Где-то нужно перечислить для кого программа. Вот эти колонки сюда не подходят, но я пока оставлю, чтобы роли где-то были.</p>
        </div>
      </div>

      <div class="ids__sequence XL gap-M">
        <div class="ids__sequence-item">
          <p><em>Лидеры:</em> руководители, которые отвечают за построение или транс&shy;формацию продуктовой, маркетин&shy;говой или CX-функции.</p>
        </div>
        <div class="ids__sequence-item">
          <p><em>Команда:</em> стратеги, продакты, аналитики, иследователи, дизайнеры, маркетологи и редакторы, которые вместе создают ценность, но органи&shy;зационно изолированы друг от друга.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ids__space L" id="schedule"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <h2><strong>Программа</strong></h2>
      <p>Это темы, в рамках которым будем работать на протяжении всей программы. Расписание и частота занятий — гибкие.</p>
    </div>
    <div class="ids__space S"></div>

    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Подготовка</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Теория</p>
        </td>
        <td>
          <h4>Модель ДКЦП: основы</h4>
          <p>Обмен как основа бизнеса</p>
          <p>Инварианты обмена</p>
          <p>Устройство модели ДЦКП</p>
          <p>Пример заполнения модели</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Проходим тестирование</p>
          <p>Устанавливаем Экселенца, ИИ-ассистента по ДКЦП</p>
          <p>Стартовый чекап: проверяем текущее ценностное предложение по&nbsp;критериям&nbsp;ДКЦП</p>
        </td>
      </tr>
      <tr class="ids__table-bottom">
        <td>
          <p>Точка сборки</p>
        </td>
        <td>
          <p><em>Начинаем собирать новую модель ДКЦП</em></p>
          <p>Результаты чекапа и составление плана работы</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <div class="ids__text-width">
      <table class="ksc-open-schedule">
        <tr>
          <th colspan="2">
            <h3>Модуль 1. Компания</h3>
          </th>
        </tr>
        <tr>
          <td>
            <p>Теория</p>
          </td>
          <td>
            <h4>Фундамент и крыша ДКЦП: атрибуты и ценности компании</h4>
            <p>Компания и продукт&nbsp;— не&nbsp;одно и&nbsp;то&nbsp;же</p>
            <p>Конкурентные дисциплины Трейси и Вирсемы: процессы, продукт или&nbsp;клиентоориентированность</p>
            <p>Ценности компании как фильтры для «своих» и «чужих»</p>
            <p>Доверие к компании как необходимое условие обмена</p>
            <p>Виды атрибутов компании с примерами из разных дисциплин</p>
            <p>Системы ценностей для b2b и b2c</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Практика</p>
          </td>
          <td>
            <p>Учимся формулировать ценности и атрибуты компании</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Самостоятельно</p>
          </td>
          <td>
            <p>Заполняем атрибуты компании</p>
            <p>Рисуем пирамиду ценностей</p>
          </td>
        </tr>
        <tr class="ids__table-bottom">
          <td>
            <p>Точка сборки</p>
          </td>
          <td>
            <p><em>Обновляем модель ДКЦП и замеряем прогресс</em></p>
            <p>Ценности и атрибуты компании</p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Модуль 2. Клиент</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Теория</p>
        </td>
        <td>
          <h4>Сегмент и конфликт</h4>
          <p>Новый опыт как конечная цель обмена со стороны клиента</p>
          <p>Корреляции и каузальности</p>
          <p>Сегментация клиентов</p>
          <p>Что нужно знать про клиента, чтобы понять его мотивацию к покупке</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Практика</p>
        </td>
        <td>
          <p>Исследуем клиентские сегменты и составляем гайд для&nbsp;интервью</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Формулируем гипотезы</p>
          <p>Дорабатываем гайд</p>
          <p>Проводим интервью с клиентами</p>
        </td>
      </tr>
      <tr class="ids__table-bottom">
        <td>
          <p>Точка сборки</p>
        </td>
        <td>
          <p><em>Обновляем модель ДКЦП и замеряем прогресс</em></p>
          <p>Клиентский сегмент и мотивационный конфликт</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Модуль 3. Продукт</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Теория</p>
        </td>
        <td>
          <h4>Теория артефакта</h4>
          <p>Артефакт как&nbsp;решение конфликта</p>
          <p>Типичные формы артефакта: товары, услуги, информация</p>
          <p>Типовые логики создания ценности: цепочки, мастерские, сети</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Делаем заготовки для&nbsp;артефакта</p>
        </td>
      </tr>
      <tr class="ids__table-bottom">
        <td>
          <p>Точка сборки</p>
        </td>
        <td>
          <p><em>Обновляем модель ДКЦП и замеряем прогресс</em></p>
          <p>Артефакт и&nbsp;его&nbsp;атрибуты</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Модуль 4. Вклад и&nbsp;обмен</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Теория</p>
        </td>
        <td>
          <h4>Вклад клиента, условия обмена</h4>
          <p>Материальный и&nbsp;нематериальный вклады: почему денег недостаточно</p>
          <p>Оценка ущерба от&nbsp;мотивационного конфликта и&nbsp;материальный вклад</p>
          <p>Балансировка вклада условиями обмена и&nbsp;атрибутами</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Формулируем материальный и&nbsp;нематериальные вклады</p>
        </td>
      </tr>
      <tr class="ids__table-bottom">
        <td>
          <p>Точка сборки</p>
        </td>
        <td>
          <p><em>Обновляем модель ДКЦП и замеряем прогресс</em></p>
          <p>Вклад клиента и&nbsp;условия обмена</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Модуль 5. Аргументы и&nbsp;нарратив</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Теория</p>
        </td>
        <td>
          <h4>Мастер-нарратив ДКЦП</h4>
          <p>Элементы модели как&nbsp;строительные блоки для&nbsp;аргументов</p>
          <p>Типичные сочетания блоков</p>
          <p>Версии аргументов для&nbsp;разных каналови&nbsp;разных стадий покупки</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Собираем нарратив о&nbsp;продукте или&nbsp;компании</p>
        </td>
      </tr>
      <tr class="ids__table-bottom">
        <td>
          <p>Точка сборки</p>
        </td>
        <td>
          <p><em>Собираем итоговую модель ДКЦП и замеряем прогресс</em></p>
          <p>Модель ДКЦП готова</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Модуль 6. Прототипирование</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Самостоятельно</p>
        </td>
        <td>
          <p>Делаем прототип лендинга для&nbsp;продукта или&nbsp;компании</p>
          <p>Показываем лендинг клиентам и&nbsp;тестируем ценностное предложение</p>
          <p>Финализируем свою модель ДКЦП</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__space M"></div>

  <div class="ids__wrapper">
    <table class="ksc-open-schedule">
      <tr>
        <th colspan="2">
          <h3>Демо-день</h3>
        </th>
      </tr>
      <tr>
        <td>
          <p>Демо-день</p>
        </td>
        <td>
          <p><em>Финальное отчётное мероприятие</em></p>
          <p>Подводим итоги обучения, хвастаемся успехами, строим планы на&nbsp;будущее</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="ids__wrapper ksc-narrative">
    <div class="ids__text-width">
      <div class="ids__space M"></div>

      <h2 class="L" id="zadaniya">План работы над этой страничкой</h2>

      <p><strong>Вступление</strong></p>
      <p><s>Вставить примеры запросов инклюдом.</s></p>
      <p><s>Перечислить роли лидеров и команды.</s></p>
      <p>Сформулировать цель программы.</p>
      
      <p><strong>Программа</strong></p>
      <p><s>Переформатировать блок под корпоративный КСЦ: не недельное расписание курса, а список того, чем занимаются участники на протяжении всего курса.</s></p>
      <p>Три раздела: Старт, Сопровождение, Демо-день. Старт: чекап (и всё, что к нему относится по смыслу старта). Демо-день: только демо-день. Сопровождение: всё остальное из текущей «программы» (модули/практики), без привязки к формату открытого интенсива.</p>

      <p><strong>Блок про интервью</strong></p>
      <p>Тейк про то, что интервью важны для ЦП и продукта.</p>
      <p>В подтверждение пример из кейса InAppStory: одна показательная встреча меняет картину продукта и ценностного предложения.</p>
      <p>Клиентов для интервью ищем мы.</p>

      <p><strong>Блок про адаптацию команды</strong></p>
      <p>Фактура с&nbsp;<a href="https://ponedelnik.ru/ksc">страницы корпоративной программы на ponedelnik.ru</a> (подготовка, формат, этапы большого курса).</p>

      <p><strong>Мотивационные конфликты</strong></p>
      <p>Только два типа: лингвистический и изоляционный.</p>
      <p>Короткие примеры к каждому (собрать/написать).</p>

      <p><strong>Отзывы</strong></p>

      <p>Только про КСЦ, взять отзывы ИнАппСтори.</p>

      <p><strong>Цена и контакт</strong></p>
      <p>Блок с ценой и полем/формой для почты или заявки.</p>
    </div>
  </div>

</div>
<script type="module" src="/assets/illustrations/init.js"></script>
{% endblock %}
