---
# скрыта от поисковиков: шаблон лендинга
noindex: true
---
{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП' %} {% block content %}
<div class="ids__space L"></div>

<div class="ids__wrapper L">
  <div class="article-title">
    <p class="mono">Атрибут  ·  Атрибут  ·  Атрибут</p>
    <h1>Наименование артефакта</h1>
    <p class="loud mono">Аргумент о связи артефакта и ключевого мотивационного конфликта. Аргумент о связи артефакта и клиентского сегмента.</p>
    <div class="ids__space XL"></div>
  </div>
</div>

<div class="ids__space M"></div>
<div class="ids__wrapper">
  <p class="loud">
    Нарратив о ценностном конфликте, детально описывающий выталкивающие драйверы, притягивающие драйверы и барьеры. Может строиться на ироничном описании априорного конфликта,
    допустимы преувеличения и черри-пикинг, степень драматизации на усмотрение автора.
  </p>
  <div class="ids__text-width">
    <p>
      Продолжение нарратива, углубление в принятые в отрасли практики решения ключевого конфликта, обзор плюсов и минусов этих практик. Может включать ироничное описание
      апостериорных конфликтов, возникающих в процессе применения практик. Формулировки в мире клиента, привычная для клиентского сегмента терминология.
    </p>
  </div>
</div>

<div class="ids__space M"></div>
<div class="ids__wrapper L">
  <div class="ids__sequence gap-S">
    <div class="ids__sequence-item">
      <div class="tile">
        <p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile">
        <p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile"><p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p></div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile"><p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p></div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile">
        <p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p>
      </div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile"><p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p></div>
    </div>
    <div class="ids__sequence-item">
      <div class="tile"><p>Аргумент о связи клиенского сегмента с ключевым мотивационным конфликтом</p></div>
    </div>
  </div>
</div>

<div class="ids__space M"></div>
<div class="ids__wrapper">
  <div class="ids__text-width">
    <p>Более формальное и концептуализированное описание ключевого конфликта, более общий взгляд на проблему, более точные формулировки.</p>
  </div>

  <div class="ids__space L"></div>
  <h2>Описание артефакта</h2>

  <div class="ids__text-width">
    <p>Аргументы о связи атрибутов артефакта с ключевым мотивационным конфлиетом.</p>
  </div>

  <div class="ids__space L"></div>
  <h2>Структура артефакта</h2>

  <div class="ids__space S"></div>
  <div class="course-sessions">
    <div class="course-session">
      <div class="session-number">
        <p>Блок 1.</p>
      </div>
      <div class="session-description">Описание блока: перечисление составляющих и обобщение о пользе блока.</div>
    </div>
    <div class="course-session">
      <div class="session-number">
        <p>Блок 2.</p>
      </div>
      <div class="session-description">Описание блока: перечисление составляющих и обобщение о пользе блока.</div>
    </div>
    <div class="course-session">
      <div class="session-number">
        <p>Занятие 3.</p>
      </div>
      <div class="session-description">Описание блока: перечисление составляющих и обобщение о пользе блока..</div>
    </div>
  </div>
</div>

<div class="ids__wrapper">
  <div class="ids__space L"></div>
  <h2>Продавец</h2>
  <div class="ids__text-width">
    <p>Аргументы об атрибутах продавца. Здесь могут упоминаться авторы.</p>
  </div>
</div>

<div id="pricing"></div>
<div class="ids__space L"></div>
<div class="ids__wrapper">
  <aside>
    <h2>Вклад клиента</h2>
    <div class="ids__text-width">
      <p>
        Аргументы о материальном и нематериальном вкладе. Если есть варианты, можно использовать вёрстку колонками, перечисляя, что входит в варианты, и сколько стоит каждый
        вариант.
      </p>
    </div>
  </aside>
</div>

<div class="ids__space L"></div>
<div class="ids__wrapper">
  <p>Ненавязчивое приглашение к взаимодействию, которое уже не пытается продать проблему, а аккуратно предлагает помощь. Содержит ссылку, чтобы можно было связаться напрямую.</p>
</div>

{% endblock %}
