{% extends 'layout.html' %} {% set pageTitle = 'Что мы делаем — Понедельник' %}
{% block content %}

<div class="ids__space XL"></div>

<div class="ids__wrapper L">
  <div class="ids__text-width">
    <h1>Что мы делаем</h1>
  </div>

  <div class="ids__space XS"></div>

  {% include 'sections/products-promo-table.html' %}

  <div class="ids__text-width">
    <p>
      Это запросы, с&nbsp;которыми к&nbsp;нам обращаются чаще всего. Однако мы
      понимаем, что любой бизнес&nbsp;— уникальное сочетание неуникальных
      проблем. Поэтому если вам ничего не&nbsp;подошло из&nbsp;готового,
      но&nbsp;вы всё равно хотите поработать&nbsp;— оставьте заявку, мы соберём
      для&nbsp;вас персональное предложение под вашу ситуацию.
    </p>
  </div>
</div>

<div class="ids__space XL"></div>

{% endblock %}
