{% extends 'layout.html' %} {% set pageTitle = 'Что мы сделали — Понедельник' %}
{% block content %}

<div class="ids__space XL"></div>

<div class="ids__wrapper L">
  <div class="ids__text-width">
    <h1>Что мы сделали</h1>
  </div>

  <div class="ids__space XS"></div>

  <div class="ids__text-width">
    <p>
      Наши проекты — это очень разные истории, от разработки тележек для
      супер&shy;маркетов до процессов найма в крупнейшие российские корпорации.
      Их объеди&shy;няет одно: желание компании улучшить взаимодействие с
      людьми.
    </p>
  </div>

  <div class="ids__space S"></div>

  {% include 'sections/projects-catalog.html' %}
</div>

<div class="ids__space XL"></div>

{% endblock %}
