{% extends 'layout.html' %} {% set pageTitle = 'Дайджест — Понедельник' %} {%
set pageDesc = 'Ежемесячный дайджест проектировании взаимодействий и создании
ценности' %} {% block content %}

<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1>Дайджест</h1>

    <p>
      Электронно-почтовая рассылка. Тематика выпусков — ценностные предложения,
      клиентский опыт, продуктовая стратегия, исследования потребителей,
      организационные изменения. Посты из канала, записи эфиров, кейсы и
      новости. Не чаще двух раз в месяц.
    </p>
  </div>

  <div class="ids__space S"></div>

  <div class="ids__text-width">
    <form
      class="unisender-form"
      method="POST"
      action="https://cp.unisender.com/ru/subscribe?hash=6z8a8ynrtgoaq1k68chacg6w8xif5pjutox9dyir6x4j8keofotwy"
      name="subscribtion_form">
      <div class="unisender-form-field">
        <label for="us_name">Имя</label>
        <input type="text" id="us_name" name="f_1" value="" />
      </div>
      <div class="unisender-form-field">
        <label for="us_email">E-mail</label>
        <input type="text" id="us_email" name="email" value="" />
      </div>
      <div class="unisender-form-submit">
        <button type="submit" class="promo-link">Подписаться</button>
      </div>
      <p class="caption" style="margin-top: 0.75em; opacity: 0.6">
        Нажимая кнопку, вы соглашаетесь с
        <a href="https://ponedelnik.ru/politika"
          >политикой обработки персональных данных</a
        >
      </p>
      <input type="hidden" name="charset" value="UTF-8" />
      <input type="hidden" name="default_list_id" value="78" />
      <input type="hidden" name="overwrite" value="2" />
      <input type="hidden" name="is_v5" value="1" />
    </form>
  </div>
</div>

<div class="ids__space XL"></div>

{% endblock %}
