{% extends 'layout.html' %} {% set pageTitle = 'Подписка оформлена —
Понедельник' %} {% set pageDesc = 'Вы подписались на дайджест Понедельника' %}
{% block content %}

<div class="ids__space XL"></div>

<div class="ids__wrapper">
  <div class="ids__text-width">
    <h1>Дайджест</h1>

    <p class="loud">Вы великолепны! Подписка оформлена.</p>
  </div>

  <div class="ids__text-width">
    <p>
      Чтобы письма не попадали в спам, добавьте
      <span class="copy-field"
        ><span class="copy-field__value">okb@ponedelnik.ru</span></span
      >
      в адресную книгу своего почтового сервиса.
    </p>
  </div>
</div>

<div class="ids__space XL"></div>

{% include 'components/copy-field-setup.html' %} {% endblock %}
