---
# скрыта от поисковиков: внутренняя: демонстрация шрифтов
noindex: true
---
{% extends 'layout.html' %} {% set pageTitle = 'Типографика' %} {% block content %}
<div class="ids__space XL"></div>

<div class="article">
  <div class="ids__wrapper">
    <div class="section">
      <p class="mono">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
      <h1 class="XL">База ДКЦП</h1>
      <p class="loud mono">Фреймворк, который поможет проверить, не хуйню ли мы делаем. Пригождается, если что-то продаёте или помогаете кому-то что-то продавать.</p>
    </div>
    <div class="section">
      <h2>Ценностное предложение вам по жопе как надаёт, мало не покажется</h2>
      <p class="loud">
        Все знают, что для старта и уверенной работы любого бизнес-проекта нужна то ли бренд-платформа, то ли маркетинговая стратегия, то ли позиционирование, миссия, ценности,
        видение, суть бренда, роль бренда, архетип, характер, тональность, уникальные атрибуты, функциональные и эмоциональные выгоды, ризонс ту билив, поинт оф парити слеш
        дифференс или хотя бы утэпэ. Никто не знает, как и почему всё это (не) работает, но признаваться нельзя, иначе бытие сколлапсится.
      </p>
    </div>
    <div class="section">
      <div class="ids__text-width">
        <h2>Во что мы верим</h2>

        <p class="">
          Мы хотим развернуть отношения людей и бизнеса, сделав компании источником благ для людей, а не людей – источником благ для компаний. Помогая заказчикам стать более
          клиентоориентированными, мы придерживаемся принципов опытоцентричности:
        </p>
        <ol class="">
          <li>Ценность — в опыте, который генерирует компания с помощью своих продуктов.</li>
          <li>Опыт сотрудников не менее важен, чем опыт клиентов.</li>
          <li>Процессы должны подстраиваться под опыт, а не опыт подстраиваться под процессы.</li>
        </ol>
      </div>
    </div>
    <div class="section">
      <div class="ids__text-width">
        <h3>Поможем стать компанией, с&nbsp;которой приятно иметь дело, да может и не одно</h3>
        <p class="">
          Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от
          взаимодействия с компаниями и улучшать жизнь людей. Мы создаём лучший опыт покупателей и сотрудников, делая его фактором конкурентного преимущества для наших заказчиков.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="ids__text-width">
        <h4>Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга</h4>
        <p class="">
          В результате люди в компаниях не могут договориться: одни уверены, что стратегия есть и цели понятны, другие не могут добиться ясности, для кого эти продукты и почему
          люди их выбирают; одни пытаюстся думать о проблемах клиентов, другие мыслят исключтельно технологиями и фичами; нет общего языка, чтобы связать всё это в один
          конструктивный разговор. Получается хаос, ругань, пробуксовки и компромиссные решения.
        </p>
      </div>
    </div>
    <div class="section">
      <h3>Громкие ребята</h3>

      <p class="loud gothic">
        Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от взаимодействия
        с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших заказчиков.
      </p>
      <p class="loud serif">
        Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от взаимодействия
        с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших заказчиков.
      </p>
      <p class="loud mono">
        Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от взаимодействия
        с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших заказчиков.
      </p>
    </div>
    <div class="section">
      <div class="ids__text-width">
        <h5>Образцы одинаковой крупности</h5>
        <p class="gothic">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
        <p class="mono">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
        <p class="serif">Курс в записи  ·  5 лекций по 1,5 часа  ·  <a href="#pricing">Тарифы</a>  ·  <a href="#buy">Оплатить</a></p>
        <p class="gothic">
          Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от
          взаимодействия с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших
          заказчиков.
        </p>
        <p class="serif">
          Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от
          взаимодействия с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших
          заказчиков.
        </p>
        <p class="mono">
          Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от
          взаимодействия с компаниями и улучшать жизнь людей. Мы создаём <em>лучший опыт покупателей и сотрудников,</em> делая его фактором конкурентного преимущества для наших
          заказчиков.
        </p>
      </div>
    </div>

    <div class="section">
      <div class="ids__text-width">
        <h2 class="">Во что мы верим</h2>

        <p class="mono">
          Мы хотим развернуть отношения людей и бизнеса, сделав компании источником благ для людей, а не людей – источником благ для компаний. Помогая заказчикам стать более
          клиентоориентированными, мы придерживаемся принципов опытоцентричности:
        </p>
        <ol class="mono">
          <li>Ценность — в опыте, который генерирует компания с помощью своих продуктов.</li>
          <li>Опыт сотрудников не менее важен, чем опыт клиентов.</li>
          <li>Процессы должны подстраиваться под опыт, а не опыт подстраиваться под процессы.</li>
        </ol>
      </div>
    </div>

    <div class="section">
      <div class="ids__text-width">
        <h3 class="">Поможем стать компанией, с&nbsp;которой приятно иметь дело, да может и не одно</h3>
        <p class="mono">
          Опыто-конструкторское бюро «Понедельник» — коллектив аналитиков, консультантов, проектировщиков и исследователей. Наша работа — конструировать впечатления от
          взаимодействия с компаниями и улучшать жизнь людей. Мы создаём лучший опыт покупателей и сотрудников, делая его фактором конкурентного преимущества для наших заказчиков.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="ids__text-width">
        <h4 class="">
          Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга. Люди в компаниях не понимают друг друга
        </h4>
        <p class="mono">
          В результате люди в компаниях не могут договориться: одни уверены, что стратегия есть и цели понятны, другие не могут добиться ясности, для кого эти продукты и почему
          люди их выбирают; одни пытаюстся думать о проблемах клиентов, другие мыслят исключтельно технологиями и фичами; нет общего языка, чтобы связать всё это в один
          конструктивный разговор. Получается хаос, ругань, пробуксовки и компромиссные решения.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
