{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта покупки САПР' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>Компания Autodesk обратилась в Бюро, чтобы разобраться как лучше сегментировать сложную целевую аудиторию 
  (внутриотраслевая сегментация) и построить цепочки коммуникаций, приводящие к покупкам сложных и дорогих программных продуктов Autodesk.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Изучить опыт выбора сложных продуктов САПР. Дать рекомендации по улучшению опыта выбора и покупки САПР.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p>
      Провели анализ лучших практик. Сегментировали целевую аудиторию. Провели экспертные и глубинные
      интервью с потребителями. Разработали Customer Decision Journey Map и сформулировали рекомендации
      по улучшению взаимодействия на пресейлах.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Составлены рекомендации по сегментированию аудитории. Построена карта выбора клиента
      (Consumer Decision Journey). На основании сегментации запущена рекламная кампания,
      увеличившая рост конверсии в обращения в отдел продаж на 12,6%.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
