{% extends 'layout.html' %}
{% set pageTitle = 'Autodesk: исследование опыта покупки САПР' %}
{% block content %}
<div class="ids__wrapper L">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Autodesk: исследование опыта покупки САПР</h1>
    <h2>Ситуация</h2>
    <p>Компания Autodesk обратилась в Бюро, чтобы разобраться как лучше сегментировать сложную целевую аудиторию (внутриотраслевая сегментация) и построить цепочки коммуникаций, приводящие к покупкам сложных и дорогих программных продуктов Autodesk.</p>
    <h2>Задача, которую решали</h2>
    <ul>
      <li>Изучить опыт выбора сложных продуктов САПР;</li>
      <li>Дать рекомендации по улучшению опыта выбора и покупки САПР.</li>
    </ul>
    <h2>Главные результаты</h2>
    <p>Составлены рекомендации по сегментированию аудитории. Построена карта выбора клиента (Consumer Decision Journey). На основании сегментации запущена рекламная кампания, увеличившая рост конверсии в обращения в отдел продаж на 12,6%</p>
    <h2>Что было сделано</h2>
    <ul>
      <li>Анализ лучших практик</li>
      <li>Сегментирование целевой аудитории</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями</li>
      <li>Разработана Customer Journey Map</li>
      <li>Сформулированы рекомендации по улучшению клиентского опыта</li>
    </ul>
    <h3>Ссылки</h3>
    <p><a href="https://www.autodesk.ru">Autodesk empowers innovators everywhere to make the new possible</a></p>
    <p><a href="https://cxburo.ru">Бюро Сервисного Дизайна</a></p>
    <p>Если вам нужно решить похожую задачу – напишите нам</p>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
