{% extends 'layout.html' %}
{% set pageTitle = 'DataDarvin: разработка концепции нового продукта' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>DataDarvin: разработка концепции нового продукта</h1>
    <h3>Контекст</h3>
    <p>ИТ-Компания Pulse WiFi обратилась в Бюро для радикального переосмысления своего продукта. Рынок wifi-маркетинга уже формируется, на нем есть игроки. Необходимо было предложить радикально новый смысл для продукта, но сохранить технологию, лежащую в основе продукта.</p>
    <h3>Задача</h3>
    <ul>
      <li>Разработать концепцию нового продукта</li>
    </ul>
    <h3>Что было сделано</h3>
    <ul>
      <li>JTBD-Сегментирование и профилирование целевой аудитории</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями</li>
      <li>Разработана концепция позиционирования</li>
      <li>Разработана Customer Journey Map</li>
      <li>Разработан нейм</li>
      <li>Разработан фирменный стиль и дизайн точек контакта</li>
    </ul>

    <h3>Главные результаты</h3>
    <ul>
      <li>Предложен новый смысл продукта: вместо «wifi реклама» — «создание клиентских сообществ на основе данных».</li>
      <li>Под новый смысл разработаны новое название (DataDarvin), новые функции и дизайн продукта.</li>
      <li>Логотип.</li>
    </ul>
    <div class="case-featured__links">
      <h3>Ссылки</h3>
      <p><a href="https://cxburo.ru">Бюро Сервисного Дизайна</a></p>
      <p>Если вам нужно решить похожую задачу – напишите нам</p>
    </div>
    <h3>Отзыв клиента</h3>
    <blockquote>
      <p>Ну а если честно, вы создали не просто лого, а полностью перезагрузили всё. Разницу «между» до и «после» тяжело измерить, потому что это в принципе, разные плоскости. Пространство изменилось 😉 Конкурентная ситуация на рынке wi-fi очень сильно меняется, а мы со своей новой работой, находимся на несколько шагов впереди и понимаем куда идём.</p>
    </blockquote>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
