{% extends 'layout.html' %}
{% set pageTitle = 'DataDarvin: разработка концепции нового продукта' %}
{% block content %}
<div class="ids__wrapper L case-featured case-page">
<div class="ids__space top-screen-space M"></div>
<div class="ids__text-width">
<h1 class="case-standard__title">{{ pageTitle }}</h1>
<h2>Контекст</h2>
<p>ИТ-Компания Pulse WiFi обратилась в Бюро для радикального переосмысления своего продукта. Рынок wifi-маркетинга уже формируется, на нем есть игроки. Необходимо было предложить радикально новый смысл для продукта, но сохранить технологию, лежащую в основе продукта.</p>
<h2>Запрос</h2>
<p>Разработать концепцию нового продукта</p>
<h2>Процесс</h2>
<p>JTBD-Сегментирование и профилирование целевой аудитории</p><p>Экспертные интервью</p><p>Глубинные интервью с потребителями</p><p>Разработана концепция позиционирования</p><p>Разработана Customer Journey Map</p><p>Разработан нейм</p><p>Разработан фирменный стиль и дизайн точек контакта</p>
<h2>Результат</h2>
<p>Предложен новый смысл продукта: вместо «wifi реклама» — «создание клиентских сообществ на основе данных».</p><p>Под новый смысл разработаны новое название (DataDarvin), новые функции и дизайн продукта.</p><p>Логотип.</p>
<blockquote>
<p>Ну а если честно, вы создали не просто лого, а полностью перезагрузили всё. Разницу «между» до и «после» тяжело измерить, потому что это в принципе, разные плоскости. Пространство изменилось 😉 Конкурентная ситуация на рынке wi-fi очень сильно меняется, а мы со своей новой работой, находимся на несколько шагов впереди и понимаем куда идём.</p>
</blockquote>
<div class="ids__space L"></div>
<p><a href="/projects/">← обратно ко всем проектам</a></p>
</div>
<div class="ids__space L"></div>
</div>
{% endblock %}
