{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'InAppStory' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      InAppStory — сервис in-app коммуникации и публикации сторис в мобильных приложениях. 
      У топ-команды было расхождение в понимании своей ценности, образа клиента и обещаний, которое ему нужно дать.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
  <p>Сформулировать ценностное предложение.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Диагностика по ДКЦП.</strong> Собрали точку А: видение каждого члена команды по основным компонентам ЦП. 
  Собрали модель ДКЦП, првоерили на сходимость, сформулировали ключевые несходимости</p>
<p><strong>Исследование клиентов.</strong> Провели интервью с текущими клиентами, переориентировались на другой клиентский сегмент: 
  с продактов на продуктовых маркетологов</p>
<p><strong>Формулировка конфликта и смыслов</strong>Сформулировали мотивационный конфликт целевой аудитории. 
  Сформулировали ключевой смысл продукта: «заметность» </p>
<p><strong>Продукт и нарратив.</strong> Развели сервис и творческую студию как отдельные артефакты, обновили атрибуты и оффер; 
  собрали и доработали нарративы.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Перестроены ценностное предложение для сервиса и творческой студии, команда внедряет ДКЦП подход во все процессы взаимодействия с клиентами.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
