{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта селлеров маркетплейсов' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      Контур внедрял клиентоцентричный подход и прорабатывал сегмент «селлер маркетплейса»,
      но команде не хватало знаний о реальных контекстах и потребностях потребителей, 
      чтобы сформулировать гипотезы ценностного предложения.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
  <p>Собрать и описать путь селлера от решения начать торговать до выхода на стабильные продажи на маркетплейсе.</p>
  <p>Обучить команду практикам исследований и прокетирования опыта</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
  <p><strong>Подготовка.</strong> Собрали и изучили имеющиеся у заказчика данные: прошлые исследования и текущие гипотезы. 
    Стало понятно как мыслит продуктовая команда, на что обращает внимание.</p>  
  <p><strong>Полевое исследование.</strong> Поговорили с начинающими и опытными селлерами, а также с теми, кто прекратил бизнес на маркетплейсах. 
    Разобрались как устроена эта деятельность: что привлекает, с какими трудностями сталкиваются новчики и чего не хватает.</p>
  <p><strong>Картирование.</strong> Описали CJM селлера, отметили на ней все инсайты и барьеры. Синхронизировали команды с картой.</p>
  <p><strong>Аналитика опыта.</strong> Систематизировали наблюдения и выводы в продуктовые гипотезы.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
  <p>Сформулировано 25 стратегических гипотез усиления ценностного предложения, команда взяла их в работу.</p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
