{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Барьеры перехода на КЭДО' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
  У одного из вендоров группы компани «Ланит» есть продукт, автоматизирующий кадровое делопроизводство, у которого была низкая конверсия в продажу.    
  Нужно было понять, почему HR-службы крупных производственных компаний продолжают выбирать бумажный кадровый документооборот.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Выявить причины и барьеры перехода кадровиков на КЭДО.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Анализ данных.</strong> Собрали факторы, влияющие на решения о переходе.</p>
<p><strong>Поле.</strong> Провели интервью с руководителями/представителями функций, вовлечённых в документооборот.</p>
<p><strong>Аналитика.</strong> Систематизировали барьеры и установки, мешающие переходу.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Сформулированы 4 главных барьера, из-за которых компании откладывают 
      переход на&nbsp;КЭДО.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
