{% extends 'layout.html' %}
{% set pageTitle = 'Leroy Merlin: исследование опыта покупателей группы "отделка стен"' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Leroy Merlin: исследование опыта покупателей</h1>
    <h3>Контекст</h3>
    <p>Компания Leroy Merlin обратилась в Бюро, чтобы изучить опыт клиентов при выполнении проектов, связанных с отделкой стен.</p>
    <h3>Задачи</h3>
    <ul>
      <li>Изучить опыт покупателей и отразить его на CJM;</li>
      <li>Найти барьеры, разрывы и другие точки боли;</li>
      <li>Синхронизировать продуктовые департаменты вокруг клиентского пути.</li>
    </ul>
    <h3>Что было сделано</h3>
    <ul>
      <li>Анализ вторичных данных</li>
      <li>Анализ конкурентов</li>
      <li>JTBD-Сегментирование и профилирование</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями и непотребителями</li>
      <li>Включенное наблюдение в магазинах в Москве, Санкт-Петербурге и Екатеринбурге</li>
      <li>Разработана Customer Journey Map</li>
      <li>Разработана Методология количественного и качественного исследования</li>
      <li>Разработаны прототипы точек контакта</li>
    </ul>

    <h3>Главные результаты</h3>
    <ul>
      <li>Найдены <strong>27</strong> ситуаций потребления, описана мотивация в каждой ситуации, под каждую спроектирована своя карта клиентского пути.</li>
      <li>Сформулированы <strong>74</strong> рекомендации по улучшению клиентского пути: запроектированы новые цифровые продукты, точки контакта, маркетинговые сообщения.</li>
      <li>Написан гайдбук, по которому команда Leroy Merlin может проводить подобные исследования самостоятельно.</li>
      <li>Пример описания ситуации потребления.</li>
      <li>Адаптированная карта клиентского пути.</li>
    </ul>
    <div class="case-featured__links">
      <h3>Ссылки</h3>
      <p><a href="https://leroymerlin.ru">Leroy Merlin</a></p>
      <p><a href="https://cxburo.ru">Бюро Сервисного Дизайна</a></p>
      <p>Если вам нужно решить похожую задачу – напишите нам!</p>
    </div>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
