{% extends 'layout.html' %}
{% set pageTitle = 'Leroy Merlin: исследование опыта покупателей группы "отделка стен"' %}
{% block content %}
<div class="ids__wrapper L">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Leroy Merlin: исследование опыта покупателей группы "отделка стен"</h1>
    <h2>Ситуация</h2>
    <p>Компания Leroy Merlin обратилась в Бюро, чтобы изучить опыт клиентов при выполнении проектов, связанных с отделкой стен.</p>
    <h2>Задача, которую решали</h2>
    <ul>
      <li>Изучить опыт покупателей и отразить его на CJM;</li>
      <li>Найти барьеры, разрывы и другие точки боли;</li>
      <li>Синхронизировать продуктовые департаменты вокруг клиентского пути.</li>
    </ul>
    <h2>Главные результаты</h2>
    <p>Найдены <strong>27</strong> ситуаций потребления, описана мотивация в каждой ситуации, под каждую спроектирована своя карта клиентского пути.</p>
    <p>Сформулирован <strong>74</strong> рекомендации по улучшению клиентского пути: запроектированы новые цифровые продукты, точки контакта, маркетинговые сообщения.</p>
    <p>Написан гайдбук, по которому команда Leroy Merlin может проводить подобные исследования самостоятельно.</p>
    <p>Пример описания ситуации потребления</p>
    <p>Адаптированная карта клиентского пути</p>
    <h2>Что было сделано</h2>
    <ul>
      <li>Анализ вторичных данных</li>
      <li>Анализ конкурентов</li>
      <li>JTBD-Сегментирование и профилирование</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями и непотребителями</li>
      <li>Включенное наблюдение в магазинах в Москве, Санкт-Петербурге и Екатеринбурге</li>
      <li>Разработана Customer Journey Map</li>
      <li>Разработана Методология количественного и качественного исследования</li>
      <li>Разработаны прототипы точек контакта</li>
    </ul>
    <h2>Ссылки</h2>
    <p><a href="https://leroymerlin.ru">Leroy Merlin</a></p>
    <p><a href="https://cxburo.ru">Бюро Сервисного Дизайна</a></p>
    <p>Если вам нужно решить похожую задачу – напишите нам!</p>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
