{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта покупателей группы «отделка стен»' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>Компания Leroy Merlin проводила эксперимент по переходу 
от выкладки по группам товарам к выкладке по жизненным сценариям.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Найти жизненные ситуации, в которых клиенты занимаются отделкой стен, описать сценарии их поведения, 
  найти барьеры, разрывы и другие точки негативного опыта, сформулировать рекомендации для продуктовых команд.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p>
      Начали с анализа имеющихся данных и конкурентов, провели JTBD-сегментирование и экспертные интервью, 
      сформулировали гипотезы сегментов по сценариям. 
</p>
<p>
      Сходили в поле, провели глубинные интервью — с потребителями и непотребителями, а также включённое наблюдение
      в магазинах в Москве, Санкт-Петербурге и Екатеринбурге.
</p>
<p>
      На этой базе разработали Customer Journey Map,
      подтвердили избранные находки количественным исследованием, спроектировали прототипы точек контакта.
</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>Найдены 27 ситуаций потребления, описана мотивация в каждой ситуации.</p>
<p>Сформулированы 74 рекомендации по улучшению клиентского пути: запроектированы 
  новые цифровые продукты, точки контакта, маркетинговые сообщения.</p>
  <p>Написан гайдбук, по которому команда Leroy Merlin может проводить подобные исследования самостоятельно.</p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
