{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта сотрудников розницы' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      «Магнит» перестраивал портфель форматов своих магазинов. 
      Для сотрудников это разные рабочие реалии, хотя бренд 
      работодателя воспринимается как единый.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>
  Изучить опыт сотрудников в каждом из форматов розницы, сформулировать рекомендации по удержанию и нематеральной мотивации.
</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Подготовка.</strong> Изучили имеющиеся в компании данные, поговорили с сотрудниками из HR, составили первые гипотезы и черновики EJM.</p>
<p><strong>Полевой этап.</strong> Провели интервью с новыми, давно работающими и недавно уволившимися сотрудниками. Сами прошли путь соискателя в разных форматах.</p>
<p><strong>Аналитика.</strong> Консолидировали данные, сформулировали барьеры и их причины.</p>
<p><strong>Инициативы.</strong> Вместе с командой магнита разработали инициативы по улучшению опыта сотрудников и идеи для нематериальной мотивации.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      3 глобальных карты EJM, на которых описан путь сотрудника в каждом формате</p>
      <p>Найдены более 100 барьеров, предложено 54 инициативы по улучшению опыта.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
