{% extends 'layout.html' %}
{% set pageTitle = 'МАВТ-Винотека: исследование опыта покупателей' %}
{% block content %}
<div class="ids__wrapper L">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>МАВТ-Винотека: исследование опыта покупателей</h1>
    <h2>Ситуация</h2>
    <p>Сеть магазинов МАВТ-Винотека работает на рынке 25 лет и насчитывает 45 магазинов по Уралу. Руководство компании обратилось в Бюро, чтобы понять неочевидные барьеры и проблемы в потребительском опыте, которые могут негативно сказаться на лояльности.</p>
    <h2>Задача, которую решали</h2>
    <ul>
      <li>Изучение клиентского пути</li>
      <li>Поиск барьеров, разрывов и других точек боли</li>
    </ul>
    <h2>Главные результаты</h2>
    <p>Проанализирован путь клиента, выделены 4 эпизода взаимодействия, внутри эпизодов найдено 123 барьера, составлен список рекомендаций по улучшению CX, компания запустила и успешно поддерживает процесс устранения барьеров в потребительском опыте.</p>
    <p>Защита проекта</p>
    <h2>Что было сделано</h2>
    <ul>
      <li>JTBD-Сегментирование</li>
      <li>Глубинные интервью с потребителями</li>
      <li>Аналитические закупки</li>
      <li>Замеры NPS и CSI</li>
      <li>Разработана Customer Journey Map</li>
      <li>Сформулированы рекомендации по улучшению клиентского пути.</li>
    </ul>
    <h3>Ссылки</h3>
    <p><a href="https://blog.buro.cx/customer-experience-v-ritieilie/">Customer Experience в ритейле</a></p>
    <p>Подробности кейса</p>
    <p><a href="https://mavt.ru">Каталог алкогольных напитков - МАВТ-Винотека</a></p>
    <p>Сайт клиента</p>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
