{% extends 'layout.html' %}
{% set pageTitle = 'МАВТ-Винотека: исследование опыта покупателей' %}
{% block content %}
<div class="ids__wrapper L case-standard case-page">
<div class="ids__space top-screen-space M"></div>
<div class="ids__text-width">
<p><a href="/projects/">← все проекты</a></p>
<div class="ids__space L"></div>
<h1 class="S">{{ pageTitle }}</h1>
{% include 'partials/case-tags.njk' %}

<p class="case-standard__meta">10 минут чтения · Михаил Руденко</p>
<p>Для небольшого ритейла сейчас не самые лучшие времена. Федеральные сети, сами по себе опасные для небольших магазинов, еще и объединяют усилия, превращаясь в монструозные конгломераты, способные получать уникальные условия закупок у поставщиков.</p>
<p>Что в такой ситуации делать малому бизнесу? Конечно, можно жертвовать качеством, экономить на всём и пытаться конкурировать ценой. Но такая стратегия неизбежно приводит к еще большему демпингу и полному вымыванию денег из отрасли. Есть ли альтернативный путь?</p>
<p>Альтернативный путь есть — конкурировать качеством. Но качеством чего — продуктов? Если это FMCG, то это не так просто сделать. Слишком большая товарная матрица, слишком разные поставщики. Остается качество потребительского опыта. То есть суммы впечатлений покупателя, приходящего в магазин.</p>
<p>Это история про компанию, которая вот уже 25 лет успешно конкурирует с сетями, делая упор на качество сервиса, а не на низкие цены и доступность в каждом доме. Встречайте — <a href="http://mavt.ru/">МАВТ-Винотека</a>. Эксперт в мире напитков.</p>
<h2>Глава I. План проекта</h2>
<p>С командой клиента мы договорились, что глобальная цель проекта — повысить удовлетворенность клиентов опытом покупок в МАВТ-Винотеке.</p>
<p>Тут нужно сделать важное замечание. Управление потребительским опытом не заменяет другие способы управления. В управленческом учёте ничего не меняется. По-прежнему нужно анализировать товарную матрицу, следить за out-of-stock’ами, оборачиваемостью, стоимостью и объемами чеков, считать выручку с квадратного метра торговой площади и вот это вот всё. CX не заменяет статистику, он её дополняет. Если статистика позволяет принимать операционные решения на основе корреляций данных, то качественные CX-исследования (в смысле — не количественные) позволяют выявить неочевидные причинно-следственные связи и принимать стратегические решения.</p>
<p>У МАВТ-Винотеки с управленческим учётом всё в порядке — компания, повторюсь, 25 лет успешно работает, открывает новые магазины, поглощает региональных конкурентов. Нужен был свежий взгляд на бизнес со стороны. Для этого нас и пригласили.</p>
<p>Исходя из цели проекта, мы собрали состав пилотного CX-исследования:</p>
<p>Глубинные интервью с потребителями. Они помогут понять, в каких обстоятельствах люди принимают решение посетить МАВТ-Винотеку, каковы их ожидания от товаров и сервиса.</p><p>Аналитические закупки. Наши аналитики сами пройдут путь клиента и зафиксируют свой опыт, барьеры и впечатления.</p><p>Разработка карты Customer Journey версии «как есть» с указанием всех найденных барьеров, разрывов и точек контакта.</p><p>Измерение показателей NPS и CSI, и отражение их на карте.</p>
<p>Исследования коснутся покупок в четырёх магазинах сети, заказа в интернет-магазине, а также мы посетим одну из дегустаций, которые МАВТ-Винотека регулярно проводит.</p>
<p>Начинаем с глубинных интервью.</p>
<h2>Глава II. Глубинные интервью в ритейле</h2>
<p>Сперва нужно сделать небольшое отступление и поговорить про ситуационное сегментирование, известное также под названием «Концепция Jobs-To-Be-Done». Есть несколько способов определить своего потребителя. Один из них — это хорошо известный метод портретов (аватаров, персон — названий много). Его суть в том, чтобы как можно более подробно ответить на вопрос кто или какойнаш клиент. Здесь имеет значение демография: пол, возраст, уровень дохода, хобби; и психография: профиль MBTI, темперамент по Кейрси и т.п. Это стандартный путь, которым идет большинство компаний. И часто именно он и заводит в тупик. Потому что попробуйте описать социально-демографический портрет человека, покупающего FMCG? Это, без преувеличений, вообще все люди, имеющие деньги. Как это знание помогает принимать решения в бизнесе? А никак не помогает. Розничному магазину в большинстве случаев совершенно всё равно кто туда придёт. Но далеко не всё равно зачем или почему.</p>
<p>И вот тут полезным оказывается ситуационное сегментирование, которое можно использовать взамен стандартного портретного. Что стало причиной покупки? Какие обстоятельства привели покупателя в магазин? В терминологии JTBD это называется «работой», на которую потребитель «нанимает» продукт. Если он хочет, скажем, приготовить ужин за десять минут потому что устал, то какая нам разница, кто он — молодая мама или занятой фрилансер?</p>
<p>В этом суть подхода: сместить фокус внимания от людей к причинам, которые этих людей приводят в магазин. От персон к «работам». Это, как минимум, новый свежий взгляд на свой бизнес, а как максимум — способ серьезно опередить конкурентов.</p>
<p>Именно так мы и поступили в этом проекте. Целью наших интервью было выявление причин, которые приводят людей в МАВТ-Винотеку.</p>
<p>Сама по себе эта инициатива — поговорить по душам — для многих покупателей была в новинку. Действительно, магазины редко всерьез интересуются мнением своих потребителей, и уж точно почти никогда не делают это так глубоко и пристально. Формально обратная связь собирается: ящики, в которые можно опустить карточку с отзывом, формы на сайте и тому подобное. Но фраза «ваше мнение очень важно для нас» — это уже мем. Что дальше происходит с отзывами неясно никому, даже самой компании. Поэтому у российских потребителей уже выработался стойкий иммунитет к такому способу коммуникации. Соответственно, даже если у нас получится завязать разговор, люди могут не сказать нам всей правды просто потому что не поверят, что мы с этим что-то сделаем. Этот барьер нужно было убрать.</p>
<p>Для этого мы разработали специальные тейбл-тенты, на которых подчеркнули, что интервью не уйдёт в стол, и всё, что скажет клиент, будет обязательно использовано для улучшения опыта покупок. Кроме того, интервьюер обязательно проговаривал всё это перед началом беседы.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Иллюстрация 1" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/2.jpg"/>
</div>
</figure>
<p>Кстати, пара слов об антураже. В каждом магазине где мы проводили интервью была специальная зона, в которой компания проводит дегустации. Их мы и использовали для бесед. В каждой зоне было организовано настоящее чаепитие. Всё, чтобы человеку было действительно комфортно с нами поговорить.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Иллюстрация 2" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/3.jpg"/>
</div>
</figure>
<p>Команда МАВТ-Винотеки выделила для покупателей подарочные карты номиналом в 500 рублей. Мы дарили их всем, кто согласится с нами поговорить.</p>
<p>Людей приглашали в два этапа — сначала анонсом в соцсетях, а потом непосредственно в торговом зале. Наш исследователь вежливо подходил к покупателям и приглашал на 10 минут попить чаю и побеседовать. В магазине соглашался примерно каждый десятый покупатель. Это неплохой показатель.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Иллюстрация 3" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/4.jpg"/>
</div>
</figure>
<p>Исследование длилось неделю, за это время мы провели 25 глубинных интервью. Для старта этого было достаточно.</p>
<p>Результаты интервью мы расшифровали, проанализировали и обобщили в девять различных историй покупок:</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Иллюстрация 4" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/5.jpg"/>
</div>
</figure>
<p>К сожалению, я не могу опубликовать здесь оригинал файла из-за NDA, но поделюсь некоторыми яркими примерами.</p>
<p>Покупки в подарок. Очевидная ситуация, как выяснилось, подразделяется на две драматично разные истории: покупка в подарок знакомому/другу и покупка в подарок малознакомому/незнакомому человеку (например, врачу).</p>
<p>Разница в том, что в первом случае покупатель хочет выбирать долго и тщательно, чтобы удивить или порадовать близкого человека, а во втором случае ровно наоборот: хочет как можно меньше напрягаться с выбором, и в то же время не показаться неблагодарным. Соответственно процесс помощи в выборе должен быть также разным: в первом случае собрать как можно больше вводных данных и помочь принять правильное решение, а во втором — сразу предложить максимально универсальный вариант.</p>
<p>Другой пример, из экзотических. Мы обнаружили, что некоторые потребители МАВТ-Винотеки приходит ради впечатлений о путешествии. Один из наших респондентов забежал в магазин, вернувшись с Пальмы де Майорки, буквально в тапочках. Искал вино, которое пил в отпуске.</p>
<p>Любопытно было посмотреть как ведут себя люди, столкнувшись с ситуацией, когда магазин оказывается не готов к сценарию покупки клиента. Начинается всё с вдумчивого изучения полки. Человек заходит, подходит к полке, руками не трогает, этикетки не читает, просто смотрит.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Внутри" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/6.jpg"/>
</div>
<figcaption>Внутри</figcaption>
</figure>
<p>Дальше либо подходит консультант, и завязывается длинный диалог, либо человек достает смартфон и открывает Vivino. Это разрыв — покупатель обращается к конкурирующему продукту. И если он останется недоволен выбором через приложение (а скорее всего так и будет), у него отложится, что «то невкусное вино» он купил именно у нас.</p>
<p>В общем, стало ясно, что переход к ситуационному сегментированию дает очень много новых данных, поэтому аналитические закупки мы планировали, опираясь на наш список «работ».</p>
<p>Если вы хотите глубже погрузиться в теорию JTBD, посмотрите <a href="https://www.youtube.com/watch?v=7KF7WgUujcw&amp;list=PLSJIkcDLlFs1mkdkujM7IH9VZXgYrCp_f">наши видео на эту тему</a>.</p>
<h2>Глава III. Аналитические закупки</h2>
<p>Аналитических закупок у нас было пять. По одной в каждом из четырёх пилотных магазинов и еще одна на дегустацию.</p>
<p>Аналитическая закупка — исследование хитрое. В нем от аналитика требуется почти актёрский талант. Очень важно с одной стороны вжиться в роль, примеряя на себя те обстоятельства, которые ты воссоздаёшь, а с другой — не заиграться, осознавать реальность и замечать барьеры, с которыми сталкиваешься.</p>
<p>Мы выбрали на тест четыре «работы»:</p>
<p>Отблагодарить малознакомого человека за услугу;</p><p>Наградить себя за успешно сделанное дело;</p><p>Начать разбираться в алкоголе;</p><p>Впечатлить ценителя алкоголя.</p>
<p>На эти «работы» наши аналитики попытались «нанять» МАВТ-Винотеку и посмотрели что из этого получится. Мы прошли в роли клиентов по всем этапам потребительского пути, фиксируя по дороге барьеры и разрывы. Так, например для закупки по сценарию «наградить себя за успешно сделанное дело» нам даже не пришлось вживаться в роль, потому как буквально за несколько дней до визита в магазин мы успешно запустили курс <a href="https://custdev.ru/course?utm_source=mediumblog&amp;utm_medium=organic&amp;utm_campaign=cmv">по исследованиям</a>. Этот факт мы, собственно, и отмечали.</p>
<p>Опять таки, много чего осталось под замком NDA, но о некоторых находках я расскажу:</p>
<p>Путь клиента не кончается в момент, когда человек покидает магазин. Целый большой эпизод связан с употреблением напитка и обстоятельствами этого употребления. Здесь есть большой простор для будущих коммуникаций.</p><p>Большая группа барьеров связана со сложностью выбора. Если нет понимания, за чем именно (вплоть до конкретной бутылки) приходишь, без консультанта или какой-то внешней помощи осознанно выбрать крайне сложно.</p><p>Консультанты дают слишком много информации. Информации интересной, важной, и нужной. Однако о ней легко забыть после визита в магазин. Простой пример: когда ты выбираешь коньяк, консультант рассказывает в какой географической зоне расположены виноградники. Это жутко интересно. Но стоит тебе покинуть магазин — 99% этой информации тут же забывается. При этом остается ощущение, что забыл что-то интересное. Для некоторых «работ» это важно.</p>
<h2>Глава IV. Картирование потребительского опыта</h2>
<p>После анализа закупок пора переходить к карте. Карта обычно составляется сверху вниз — от крупных эпизодов к микровзаимодействиям. Очень подробно о том, зачем и как нужно строить карты я писал тут:</p>
<p><a href="https://blog.buro.cx/zhizn-za-priedielami-customer-journey-map/">Жизнь за пределами Customer Journey Map</a></p>
<p>В карте пути клиента МАВТ-Винотеки крупных эпизодов оказалось четыре: покупка в интернет-магазине, покупка в магазине, употребление напитка и посещение дегустации.</p>
<p>Эпизоды пересекаются между собой. Так, например, из-за законодательного запрета на доставку алкоголя покупатель вынужден забирать свой интернет-заказ в магазине. При этом он попадает в середину эпизода «покупка», миновав шаги, связанные с выбором. Аналогично, после дегустации, гость чаще всего покупает напитки, которые попробовал. Таким образом на пути клиента существует своеобразная точка схождения — это оплата на кассе. Именно тут пересекаются контексты, и нужно это учитывать, например, при измерении показателей, разделяя на независимые когорты тех, кто заказывал в интернете и тех, кто выбирал в торговом зале. Разделение на когорты необходимо, в частности, для выбора правильной CSI-анкеты: нет никакого смысла спрашивать о поведении консультанта у тех потребителей, которые забирают интернет-заказ. Они с консультантом просто не взаимодействовали.</p>
<p>В стартовой версии карты мы отразили только точки контакта и барьеры — на их устранении сейчас сфокусироваться важнее. Большинство барьеров мы подтвердили фотографиями, скринкастами (для цифровых участков) или ссылками на соответствующие места отчетов об аналитических закупках.</p>
<p>В итоге мы нанесли на карту: 4 эпизода, 27 этапов с 45 подэтапами, 65 основных точек контакта и 123 барьера.</p>
<p>В неоформленном виде карта выглядела так:</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Каркас карты перед передачей в дизайн" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/7.jpg"/>
</div>
<figcaption>Каркас карты перед передачей в дизайн</figcaption>
</figure>
<h2>Глава V. Измерение показателей</h2>
<p>Параллельно с дизайном карты мы замеряли показатели удовлетворённости и лояльности в отдельных моментах потребительского пути. Схема опроса была такая:</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Схема опроса" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/8.jpg"/>
</div>
</figure>
<p>Тут надо пояснить, почему опросы происходят в разных точках. Дело в том, что бессмысленно спрашивать у человека о том, как себя вёл продавец-консультант уже через 2 часа после визита: человек просто не вспомнит этот опыт. Точно так же не имеет смысла после оплаты интересоваться понравился ли ему выбор: человек еще не продегустировал покупку. Именно поэтому замеры удовлетворённости разными аспектами сервиса нужно делать в разное время и в разных точках пути.</p>
<p>В рамках пилота мы составили анкеты для замеров в торговом зале, и организовали телефонные опросы.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Иллюстрация опроса" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/9.jpg"/>
</div>
</figure>
<p>Часть наших телефонных опросов пошла не по плану — посетители дегустаций, обрадованные таким вниманием, рассказывали нам столько подробностей о своём опыте, что замер показателей превратился в глубинные интервью. Это несколько сорвало нам сроки, но мы предпочли не прерывать людей и дать им высказаться. Кстати говоря, эта ситуация наглядно демонстрирует разницу между обратной связью и замерами показателей, но об этом в другой раз.</p>
<p>Местами мы получили 100% NPS. На это есть причины. Во-первых, в Челябинске и области действительно просто нет альтернативы МАВТ-Винотеке по части хорошего алкоголя. А во-вторых, опыт дегустаций уникален, и люди готовы рекомендовать их даже при наличии мелких огрехов.</p>
<h2>Глава VI. Рекомендации</h2>
<p>Карта customer journey по версии «как есть» с нанесенными на нее CX-метриками — это отправная точка. Следующим шагом необходимо было задать вектор изменений. Для этого мы подготовили набор рекомендаций по устранению барьеров и улучшению сервиса.</p>
<p>Среди всех найденных барьеров мы выделили так называемые барьеры первого приоритета:</p>
<p>Барьеры, которые могут быть устранены быстро и силами технических подрядчиков. В основном это ошибки в работе сайта и приложения.</p><p>Барьеры, связанные с выбором в торговом зале. Для их устранения придется пересмотреть существующие процессы обучения сотрудников. Рассказать про концепцию JTBD, ввести этап «погружения в контекст покупателя» и так далее.</p><p>Барьеры привлечения новых посетителей на дегустации. Этот очень мощный инструмент формирования сообщества лояльных потребителей имеет барьеры на входе и 100% NPS на выходе. Устранив препятствия к тому, чтобы люди открывали для себя дегустации, мы уберем «бутылочное горлышко» для этого канала.</p><p>Барьеры, в эпизоде «употребление». Рассказы о напитке, выбор посуды, температуры, подходящей еды и так далее.</p>
<p>Списки «работ», распечатанную карту и рекомендации мы презентовали клиенту.</p>
<figure>
<div class="case-standard__figure-images is-1">
<img alt="Команда МАВТ-Винотеки внимательно изучает CJM" loading="lazy" src="/assets/projects/mavt-vinoteka-issledovanie-opyta-pokupateley/10.jpg"/>
</div>
<figcaption>Команда МАВТ-Винотеки внимательно изучает CJM</figcaption>
</figure>
<p>После презентации в МАВТ-Винотеке запустился процесс устранения барьеров. О том, как это происходило мы напишем в следующих главах этой истории.</p>
<h2>Выводы</h2>
<p>Главные итоги нашего пилотного исследования такие:</p>
<p>Конкуренция в ритейле возможна не только с помощью низких цен, но и с помощью создания уникального потребительского опыта. Причем, если для премиального сегмента это, в общем-то, очевидно, то средний сегмент обычно считает это чем-то недоступным. Опыт МАВТ-Винотеки показывает, что можно успешно держать высокий уровень CX, не экономя на качестве товара, и не завышая цены.</p><p>Смена парадигмы от понимания целевой аудитории к пониманию целевой ситуации открывает фантастические возможности по поиску новых идей для развития. Эти идеи успешно можно применять для конкуренции с крупными сетями. И это будет работать потому что сетям эту парадигму принять гораздо сложнее.</p>
<h2>Команда проекта</h2>
<p><strong>Руководитель проекта:</strong> Михаил Руденко;</p><p><strong>CX-Аналитики:</strong> Станислав Федченко, Максим Поль;</p><p><strong>CX-Исследователи:</strong> Станислав Федченко, Александра Руденко;</p><p><strong>Дизайнер:</strong> Михаил Ломаев;</p><p><strong>Редактор:</strong> Елена Мазеева;</p><p><strong>Со стороны клиента проектом управлял:</strong> директор по маркетингу Андрей Рожков.</p>
<p>Проект выполнен за 3 месяца.</p>
<p>Если вы хотите обсудить с нами похожую задачу — оставьте заявку на <a href="https://cxburo.ru/?utm_source=meduim&amp;utm_medium=organic&amp;utm_campaign=cmv">нашем сайте</a>.</p>
<div class="ids__space L"></div>
</div>
<div class="ids__space L"></div>
</div>
{% endblock %}
