{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Проблемы персонала магазинов' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      Розничная сеть оптимизировала процессы и искала проблемные зоны, 
      с которыми сталкивается персонал магазинов и которые мешают им работать эффективнее.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
  <p>Исследовать опыт сотрудников магазинов и найти барьеры, мешающие эффективной работе</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
  <p><strong>Анализ имеющихся данных.</strong> Изучили имеющиеся данные: рабочие материалы для директоров и сотрудников, должностные инструкции.</p>
  <p><strong>Исследование.</strong> Провели глубинные интервью с директорами и персоналом магазинов. Наблюдали за работой сотрудников в магазинах разных городов.</p>
  <p><strong>Аналитика.</strong> Собрали в одну базу все инсайты из поля, вместе с командой заказчика выработали инициативы (так мы называем проекты) по улучшению опыта.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
  <p>Нашли более 100 барьеров, устранение которых потенциально улучшает опыт сотрудников. Разработали 10 ключевых рекомендаций, которые передали заказчику.</p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
