{% extends 'layout.html' %}
{% set pageTitle = 'ПИК: Улучшение пути клиента' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>ПИК: Улучшение пути клиента</h1>
    <h3>Контекст</h3>
    <p>В период пандемии ПИК ускорял перенос ключевых этапов покупки квартиры в онлайн-канал. Для синхронизации команд требовалась целостная визуализация клиентского пути и понятная логика принятия решений по точкам контакта.</p>

    <h3>Задача</h3>
    <p>Описать целевой клиентский путь покупки квартиры в онлайн-формате и зафиксировать основу для пересборки внутренних процессов.</p>

    <h3>Что было сделано</h3>
    <ul>
      <li>Собрали базовую карту пути клиента от первого интереса до оформления сделки.</li>
      <li>Выделили ключевые этапы, где требовалась дополнительная проработка сервиса.</li>
      <li>Подготовили набор проектных артефактов для последующей детализации.</li>
    </ul>
    <div class="ids__space S"></div>
    <p>Проект шел по стандартной схеме ОКП:</p>
    <p><em>Подготовка</em></p>
    <ol>
      <li>Изучение имеющихся данных.</li>
      <li>Воркшоп с черновиком аналитической модели.</li>
      <li>Интервью с внутренними сотрудниками и экспертами.</li>
    </ol>
    <p><em>Поле</em></p>
    <ol>
      <li>Глубинные исследовательские интервью.</li>
      <li>Этнография: наблюдения и тайный покупатель.</li>
      <li>Количественные опросы.</li>
      <li>Промежуточный воркшоп.</li>
    </ol>
    <p><em>Аналитика</em></p>
    <ol>
      <li>ПСК-сессия (причинно-следственный комитет).</li>
      <li>Разработка карты клиентского пути.</li>
      <li>Выработка рекомендаций.</li>
    </ol>
    <h3>Результат</h3>
    <p>Материалы проекта стали рабочей основой для дальнейшего развития клиентского пути.</p>

  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
