{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Улучшение пути клиента' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
    <p>В период пандемии ПИК ускорял перенос ключевых этапов покупки квартиры в онлайн. 
    Для синхронизации команд требовалась обновить понимание сквозного клиентского пути.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Описать целевой клиентский путь покупки квартиры в онлайн-формате, зафиксировать её как основу для пересборки внутренних процессов.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Анализ данных.</strong> Изучили имеющиеся данные: прошлые исследования, стандарты и регламенты, маркетинговые материалы объектов. Сформулировали стартовые гипотезы и вопросы.</p>
<p><strong>Интервью с внутренними экспертами.</strong> Поговорили с руководителями департаментов, отвечающих за опыт: маркетинг, продажи, бренд-менеджмент.</p>
<p><strong>Сегментация.</strong> В этом проекте мы использовали сегментацию по жизненным контекстам (похожую на JTBD).</p>
<p><strong>Исследование.</strong> Провели интервью с клиентами, прошли путь клиента в онлайне, наблюдали за процессами покупки в офисах. Собрали рыночные бенчмарки.</p>
<p><strong>Аналитика.</strong> Консолидировали данные, собрали CJM и карту коммуникаций, совместно с командой заказчика выработали план проекта CX-трансформации.</p>
<p><strong>Обучение команды.</strong> Обучили кросс-функциональную команду заказчика методологии проведений подобных проектов, чтобы они смогли улглублять наши результаты.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>Разработана сегментация по жизненным контекстам покупки квартир. Выделено 12 сценариев..</p>
<p>Разработана детализированная CJM по всему пути сотрудника.</p>
<p>Разработаны более 50 инициатив по улучшению опыта клиентов.</p>
<p>Разработан кастомный обучающий курс для команды по CX-практикам Понедельника</p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
