{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта директоров магазинов' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      В фокусе программы повышения эффективности розницы оказался директор магазина как узел множества процессов:
      операционка, найм, логистика. Без системного взгляда на барьеры в опыте сложно понять,
      где теряется производительность и что мешает масштабированию.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Выявить области для повышения эффективности работы директоров магазинов: барьеры и разрывы в опыте ДМ, их связь с бизнес-процессами магазина.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
  <p><strong>Анализ данных.</strong> Собрали имеющиеся данные о работе директоров магазинов: процессы, регламенты, должностные инструкции.</p>
  <p><strong>Исследование.</strong> Провели интервью с директорами и наблюдали за их работой.</p>
  <p><strong>Количественный слой.</strong> Опрос для проверки гипотез и приоритизации проблематик.</p>
  <p><strong>Картирование.</strong> Построили CJM, отметили барьеры связали их с процессами.</p>
  <p><strong>Аналитика.</strong> Разработали список инициатив по облегчению работы директора, приоритезировали с командой со стороны</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Карты опыта директора магазина; пул проблематик с указанием причин; инициативы по снятию
      барьеров и повышению продуктивности; рекомендации по организации сбора обратной связи от директоров магазинов.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
