{% extends 'layout.html' %}
{% set pageTitle = 'Разработка концепции Company Builder' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Разработка концепции Company Builder</h1>
    <h3>Контекст</h3>
    <p>К нам обратился инверстор из Беларусии с просьбой создать бутиковый акселератор стабильных бизнесов.</p>
    <h3>Задача</h3>
    <ul>
      <li>Разработка концепции нового продукта</li>
    </ul>
    <h3>Что было сделано</h3>
    <ul>
      <li>Анализ лучших практик</li>
      <li>JTBD-Сегментирование и профилирование целевой аудитории</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями</li>
      <li>Разработка ценностного предложения</li>
      <li>Разработка концепции и ключевой технологии</li>
    </ul>

    <h3>Главные результаты</h3>
    <ul>
      <li>Разработан и запущен Company Builder — компания, строящая другие компании.</li>
      <li>Проект успешно работает и воспитывает резидентов.</li>
      <li>Ценностное предложение.</li>
      <li>JTBD-шаблон.</li>
    </ul>
    <div class="case-featured__links">
      <h3>Ссылки</h3>
      <p><a href="https://medium.com/@rdnk/%D0%BA%D0%B5%D0%B9%D1%81-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B8%D0%BD%D0%BD%D0%BE%D0%B2%D0%B0%D1%86%D0%B8%D0%B9-%D0%B2-%D1%82%D1%80%D0%B5%D0%BA%D0%B8%D0%BD%D0%B3%D0%BE%D0%B2%D1%8B%D1%85-%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85-e1fdda04d59d">Кейс: создание инноваций в трекинговых услугах</a></p>
      <p><a href="https://elteam-builder.com/">Сайт проекта</a></p>
    </div>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
