{% extends 'layout.html' %}
{% set pageTitle = 'Разработка концепции Company Builder' %}
{% block content %}
<div class="ids__wrapper L case-featured case-page">
<div class="ids__space top-screen-space M"></div>
<div class="ids__text-width">
<h1 class="case-standard__title">{{ pageTitle }}</h1>
{% include 'partials/case-tags.njk' %}

<h2>Контекст</h2>
<p>К нам обратился инвестор из Беларусии с просьбой создать бутиковый акселератор стабильных бизнесов.</p>
<h2>Запрос</h2>
<p>Разработка концепции нового продукта</p>
<h2>Процесс</h2>
<p>Анализ лучших практик</p><p>JTBD-Сегментирование и профилирование целевой аудитории</p><p>Экспертные интервью</p><p>Глубинные интервью с потребителями</p><p>Разработка ценностного предложения</p><p>Разработка концепции и ключевой технологии</p>
<h2>Результат</h2>
<p>Разработан и запущен Company Builder — компания, строящая другие компании.</p><p>Проект успешно работает и воспитывает резидентов.</p><p>Ценностное предложение.</p><p>JTBD-шаблон.</p>
<div class="ids__space L"></div>
<p><a href="/projects/">← обратно ко всем проектам</a></p>
</div>
<div class="ids__space L"></div>
</div>
{% endblock %}
