{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование опыта пользователя' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>Команда сервиса для контроля подрядчиков по ремонту квартир «Рембот» обратилась в Бюро после нескольких неудачных рекламных кампаний. 
  Необходим был комплексный взгляд со стороны: как экспертный, так и от потенциальных клиентов.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Изучить опыт пользователей и отразить его на CJM, найти барьеры, разрывы и точки боли, сформулировать рекомендации по улучшению сервиса.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p>
      Оценка продукта, бренд-платформы и маркетинговых коммуникаций. JTBD-Сегментирование пользователей. Глубинные интервью с потребителями, совмещённое с модерируем
      юзабилити-тестом.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Разработана Customer Journey Map: визуализирован весь путь пользователя, на котором найдены более 200
      барьеров, мешающих взаимодействию. Сформулированы рекомендации по улучшению сервиса. Предложено
      несколько гипотез разворота продукта в сторону существующих рынков, на которых есть возможности
      для роста.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
