{% extends 'layout.html' %}
{% set pageTitle = 'Рембот: исследование опыта пользователя' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Рембот: исследование опыта пользователя</h1>
    <h3>Контекст</h3>
    <p>Команда сервиса для контроля подрядчиков по ремонту квартир «Рембот» обратилась в Бюро после нескольких неудачных рекламных кампаний. Необходим был комплексный взгляд со стороны: как экспертный, так и от потенциальных клиентов.</p>
    <h3>Задачи</h3>
    <ul>
      <li>Изучить опыт пользователей и отразить его на CJM;</li>
      <li>Найти барьеры, разрывы и другие точки боли;</li>
      <li>Сформулировать рекомендации по улучшению сервиса.</li>
    </ul>
    <h3>Что было сделано</h3>
    <ul>
      <li>Оценка продукта, бренд-платформы и маркетинговых коммуникаций;</li>
      <li>Кабинетный аудит юзабилити;</li>
      <li>JTBD-Сегментирование пользователей;</li>
      <li>Глубинные интервью с потребителями, совмещённое с модерируем юзабилити-тестом;</li>
      <li>Разработана Customer Journey Map;</li>
      <li>Сформулированы рекомендации по улучшению сервиса.</li>
    </ul>

    <h3>Главные результаты</h3>
    <ul>
      <li>Визуализирован весь путь пользователя, на котором найдены более 200 барьеров, мешающих взаимодействию.</li>
      <li>Предложено несколько гипотез разворота продукта в сторону существующих рынков, на которых есть возможности для роста.</li>
      <li>На основе карты и отчёта команда полностью переработала сервис.</li>
      <li>Карта (в рулоне еще 8 метров).</li>
    </ul>
    <div class="case-featured__links">
      <h3>Ссылки</h3>
      <p><a href="https://cxburo.ru">Бюро Сервисного Дизайна</a></p>
      <p>Если вам нужно решить похожую задачу – напишите нам</p>
      <p><a href="https://rembot.com">Рембот - делай ремонт с умом.</a></p>
      <p>Сайт сервиса</p>
    </div>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
