{% extends 'layout.html' %}
{% set pageTitle = 'Рембот: исследование опыта пользователя' %}
{% block content %}
<div class="ids__wrapper L case-featured case-page">
<div class="ids__space top-screen-space M"></div>
<div class="ids__text-width">
<h1 class="case-standard__title">{{ pageTitle }}</h1>
{% include 'partials/case-tags.njk' %}

<h2>Контекст</h2>
<p>Команда сервиса для контроля подрядчиков по ремонту квартир «Рембот» обратилась в Бюро после нескольких неудачных рекламных кампаний. Необходим был комплексный взгляд со стороны: как экспертный, так и от потенциальных клиентов.</p>
<h2>Запрос</h2>
<p>Изучить опыт пользователей и отразить его на CJM.</p><p>Найти барьеры, разрывы и другие точки боли.</p><p>Сформулировать рекомендации по улучшению сервиса.</p>
<h2>Процесс</h2>
<p>Оценка продукта, бренд-платформы и маркетинговых коммуникаций.</p><p>Кабинетный аудит юзабилити.</p><p>JTBD-Сегментирование пользователей.</p><p>Глубинные интервью с потребителями, совмещённое с модерируем юзабилити-тестом.</p><p>Разработана Customer Journey Map.</p><p>Сформулированы рекомендации по улучшению сервиса.</p>
<h2>Результат</h2>
<p>Визуализирован весь путь пользователя, на котором найдены более 200 барьеров, мешающих взаимодействию.</p><p>Предложено несколько гипотез разворота продукта в сторону существующих рынков, на которых есть возможности для роста.</p><p>На основе карты и отчёта команда полностью переработала сервис.</p><p>Карта (в рулоне еще 8 метров).</p><div class="ids__space L"></div>
<p><a href="/projects/">← обратно ко всем проектам</a></p>
</div>
<div class="ids__space L"></div>
</div>
{% endblock %}
