{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Опыт гостя' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      Русская Медная Компания строила в Челябинске спортивный комплекс мирового уровня и планировала оснастить его множеством ИТ-систем. 
      Требования к системам нужно было заложить заранее, но ясного целевого клиентского пути.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Сформулировать требования к ИТ-системам (в форме user story), опираясь на процессы и целевой клиентский опыт.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Сборка контекста.</strong> Изучили имеющиеся данные: архитектурные проекты, мастер-планы. Зафиксировали перечень систем и точек интеграции. Определили, какие сценарии должны поддерживаться ИТ-ландшафтом.</p>
<p><strong>Исследование.</strong> Поговорили с будущими гостями арены: фанатами, спортсменами, родителями детей. Провели наблюдение в похожих объектах в России и Европе</p>
<p><strong>Аналитика.</strong> Разработали карты опыта. Отметили на них точки контакта с ИТ-системами. Описали требования к системам в формате пользовательских историй.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Сформулирован документ, содержащий 300+ требований к будущим ИТ-системам.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
