{% extends 'layout.html' %}
{% from 'macros/case-page-meta.njk' import caseMeta with context %}
{% set pageTitle = 'Исследование потребителей фастфуда' %}
{% block content %}
<div class="ids__wrapper case-featured case-page">
{{ caseMeta(page) }}
<div class="ids__sequence XL gap-L mobile-XL">
<div class="ids__sequence-item">
<h2 class="project-bento">Контекст</h2>
<p>
      Сеть развивала новую продуктовую линейку и усиливала позиционирование в сегменте фастфуда. 
      Параллельно на рынке усиливались игроки с собственным производством еды, в том числе внутри крупных ритейльных экосистем.
    </p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Запрос</h2>
<p>Протестировать сэмплы бургеров на потребителях и понять, какие характеристики продукта для них ценны.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Процесс</h2>
<p><strong>Исследование.</strong> Собрали фокус-группу и протестировали сэмплы бургеров на потребителях.</p>
<p><strong>Аналитика.</strong> Выделили характеристики продукта, которые определяют его ценность для потребителя.</p>
</div>
<div class="ids__sequence-item">
<h2 class="project-bento">Результат</h2>
<p>
      Отчёт о характеристиках бургеров, которые имеют ценность для потребителей, — критерии качества
      для развития продуктовой линейки.
    </p>
</div>
</div>
{% include 'partials/case-page-actions.njk' %}
</div>
{% endblock %}
