{% extends 'layout.html' %}
{% set pageTitle = 'Туристический Кластер "Гора Белая": разработка CJM' %}
{% block content %}
<div class="ids__wrapper L case-featured case-page">
<div class="ids__space top-screen-space M"></div>
<div class="ids__text-width">
<h1 class="case-standard__title">{{ pageTitle }}</h1>
{% include 'partials/case-tags.njk' %}

<h2>Контекст</h2>
<p>Управляющая компания кластера «Гора Белая» обратилась в Бюро с задачей спроектировать потребительский опыт в строящемся в Свердловской области туристическом кластере.</p>
<h2>Запрос</h2>
<p>Проектирование клиентского пути</p><p>Формирование технического задания для разработчиков ERP-системы кластера</p>
<h2>Процесс</h2>
<p>Анализ отраслевого опыта</p><p>Ситуационное сегментирование</p><p>Глубинные интервью с гостями, существующими и потенциальными резидентами</p><p>Исследование текущего пути гостя на территории кластера</p><p>Разработана карта пути гостя</p><p>Разработана карта пути резидента</p><p>Сформулированы требования к ИТ-системе кластера</p><p>Разработана методология замера показателей качества потребительского опыта</p><p>Методология создания туристических продуктов кластера</p>
<h2>Результат</h2>
<p>Разработана карта опыта гостя на территории будущего кластера со всеми возможными типами отдыха.</p><p>Разработана карта пути резидента кластера.</p><p>В кластере внедрены сервисные стандарты, которые мы предложили.</p><p>Сформулированы принципы продукта кластера как платформы.</p><p>Разработана технология создания поддерживающих туристических продуктов, которая используется для разработки маршрутов.</p><p>Сформулировано и принято в работу техническое задание для ERP-системы.</p><p>Презентация карты.</p><div class="ids__space L"></div>
<p><a href="/projects/">← обратно ко всем проектам</a></p>
</div>
<div class="ids__space L"></div>
</div>
{% endblock %}
