{% extends 'layout.html' %}
{% set pageTitle = 'Туристический Кластер "Гора Белая": разработка CJM' %}
{% block content %}
<div class="ids__wrapper L case-featured">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>Туристический Кластер "Гора Белая": разработка CJM</h1>
    <h3>Контекст</h3>
    <p>Управляющая компания кластера «Гора Белая» обратилась в Бюро с задачей спроектировать потребительский опыт в строящемся в Свердловской области туристическом кластере.</p>
    <h3>Задачи</h3>
    <ul>
      <li>Проектирование клиентского пути</li>
      <li>Формирование технического задания для разработчиков ERP-системы кластера</li>
    </ul>
    <h3>Что было сделано</h3>
    <ul>
      <li>Анализ отраслевого опыта</li>
      <li>Ситуационное сегментирование</li>
      <li>Глубинные интервью с гостями, существующими и потенциальными резидентами</li>
      <li>Исследование текущего пути гостя на территории кластера</li>
      <li>Разработана карта пути гостя</li>
      <li>Разработана карта пути резидента</li>
      <li>Сформулированы требования к ИТ-системе кластера</li>
      <li>Разработана методология замера показателей качества потребительского опыта</li>
      <li>Методология создания туристических продуктов кластера</li>
    </ul>

    <h3>Главные результаты</h3>
    <ul>
      <li>Разработана карта опыта гостя на территории будущего кластера со всеми возможными типами отдыха.</li>
      <li>Разработана карта пути резидента кластера.</li>
      <li>В кластере внедрены сервисные стандарты, которые мы предложили.</li>
      <li>Сформулированы принципы продукта кластера как платформы.</li>
      <li>Разработана технология создания поддерживающих туристических продуктов, которая используется для разработки маршрутов.</li>
      <li>Сформулировано и принято в работу техническое задание для ERP-системы.</li>
      <li>Презентация карты.</li>
    </ul>
    <div class="case-featured__links">
      <h3>Ссылки</h3>
      <p><a href="https://welcometoural.ru">Официальный сайт ТРК Гора Белая</a></p>
    </div>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
