{% extends 'layout.html' %}
{% set pageTitle = 'ВкусВилл: концепция новой сети магазинов у дома' %}
{% block content %}
<div class="ids__wrapper L">
  <div class="ids__space top-screen-space M"></div>
  <div class="ids__text-width">
    <h1>ВкусВилл: концепция новой сети магазинов у дома</h1>
    <h2>Ситуация</h2>
    <p>Компания ВкусВилл обратилась в Бюро с задачей разработать концепцию потребительского опыта для своей новой сети FoodStory.</p>
    <h2>Задача, которую решали</h2>
    <ul>
      <li>Разработать концепцию потребительского опыта для новой сети</li>
    </ul>
    <h2>Главные результаты</h2>
    <p>Найдены 14 ситуаций потребления, в которых магазины у дома могут быть "наняты".</p>
    <p>Разработана концепция позиционирования будущей сети.</p>
    <p>Концепция декомпозирована до маркетинговых требований к магазинам.</p>
    <p>Составлена карта пути клиента будущего магазина.</p>
    <p>Разработан макет товарной матрицы. Составлено техническое задание для архитекторов, дизайнеров, закупщиков и рекомендации для управляющих магазинов.</p>
    <p>Составлены требования к дизайну и маркетинговым коммуникациям.</p>
    <p>Запрототипированы некоторые особо важные части концепции</p>
    <p>Карта пути клиента</p>
    <p>Набросок детского отдела</p>
    <h2>Что было сделано</h2>
    <ul>
      <li>Анализ рыночных концепций и выявление свободных ниш для позиционирования</li>
      <li>JTBD-Сегментирование и профилирование</li>
      <li>Экспертные интервью</li>
      <li>Глубинные интервью с потребителями</li>
      <li>Разработка концепции позиционирования</li>
      <li>Разработана Customer Journey Map</li>
      <li>Разработано ценностное предложение</li>
      <li>Разработаны технические задания для архитекторов, технологов, дизайнеров интерьера</li>
    </ul>
    <h2>Отзыв клиента</h2>
    <p>&gt; *Когда я искала подрядчика на эту задачу, рассматривала разные компании. Смотрела по кейсам, по участию в проектах, о которых потом было написано. На Бюро обратила внимание, прочитав их <a href="https://blog.buro.cx/customer-experience-v-ritieilie/">кейс с Винотекой</a>. Мне понравилось, как ребята рассказывают о своей работе. Вообще в плане выбора партнеров наша компания достаточно придирчивая: для нас важно, чтобы мы понимали как всё пойдёт, и какие шаги к чему приведут. С другой стороны в этом проекте нам хотелось полёта фантазии, смелости, видения.</p>
    <p>В итоге у нас получился очень понятный и логичный процесс, разбитый на шаги, каждый из которых мы принимали и понимали, как он отразится на общем результате. С Бюро было комфортно, мы всегда понимали что происходит и что будет дальше. Итоговый результат оказался адекватным задаче, нас он очень порадовал. Мы хотели смелости, и в то же время – логики, и мы получили подробное и обоснованное рассуждение, откуда что берется, как возникали гипотезы и как они изучались. Вся концепция была построена от покупателя, его пути и задач, это для нас было главным. И всё это за очень приятную цену.</p>
    <p>К сожалению, из-за пандемии мы решили сделать упор на онлайн, но я до сих пор считаю, что формат, который мы вместе разработали, вполне мог бы иметь успех.*</p>
    <p>&gt;</p>
    <p>– <a href="https://www.facebook.com/tatyana.yanysheva">Татьяна Янышева</a>, бренд-менеджер «ВкусВилл»</p>
    <p><a href="https://blog.buro.cx/food-story/">Рождение Food Story. История создания концепции новой сети магазинов для ВкусВилл</a></p>
  </div>
  <div class="ids__space L"></div>
</div>
{% endblock %}
